<!DOCTYPE html>
<html lang="en">
  <title>
    Alice - A PPCP Testing Tool
  </title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ favicon }}</text></svg>">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
    <script src="{{ url_for('static', filename='utils.js') }}"></script>
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <header>
      This is the sandbox environment.
      To request features or support, go to
      <a target="_blank" rel="noopener noreferrer" href="https://paypal.slack.com/archives/C04TWRUMG5Q">#help-alice</a>.
    </header>
    {% block main %}
    <main>
      <div class="col-4">
        {% block nav %}
        <h1>
          {{ favicon }} Alice - A PPCP Testing Tool
        </h1>
        <nav>
          <ul>
            <li>
              <a href="{{ url_for('routes.onboarding') }}">
                Onboarding
              </a>
            </li>
            <li>
              <a href="{{ url_for('routes.checkout-canonical') }}">
                Checkout
              </a>
            </li>
            <li>
              <a href="{{ url_for('routes.statuses') }}">
                Statuses
              </a>
            </li>
          </ul>
        </nav>
        {% endblock nav %}
        {% block options_form %}
        <form id="options-form">
          <input name="auth-header" id="auth-header" autocomplete="off" style="display: none;"/>
          {% block preamble_options %}
          {% endblock preamble_options %}
          {% block creds %}
          <fieldset id="partner-merchant-credentials">
            <details open>
              <summary>
                <span>
                  <legend>
                    Partner/merchant info
                  </legend>
                </span>
                <button type="button" onclick="resetPartnerInfo()"  style="float: right;" class="monospaced action">Reset</button>
              </summary>
              <div>
                <label for="partner-id">
                  Partner ID
                </label>
                <input name="partner-id" id="partner-id" value="{{ partner_id }}" class="monospaced"/>
              </div>
              <div>
                <label for="partner-client-id">
                  Client ID
                </label>
                <input name="partner-client-id" id="partner-client-id" value="{{ partner_client_id }}" class="monospaced"></input>
              </div>
              <div>
                <label for="partner-secret">
                  Secret
                </label>
                <input name="partner-secret" id="partner-secret" value="SecretValue" class="monospaced"></input>
              </div>
              <div>
                <label for="partner-bn-code">
                  BN Code
                </label>
                <input name="partner-bn-code" id="partner-bn-code" value="{{ partner_bn_code }}" class="monospaced"></input>
              </div>
              {% block merchant_id %}
              <div>
                <label for="merchant-id">
                  Merchant ID
                </label>
                <input name="merchant-id" id="merchant-id" value="{{ merchant_id }}" class="monospaced"></input>
              </div>
              {% endblock merchant_id %}
            </details>
          </fieldset>
          {% endblock creds %}

          {% block other_options %}
          {% endblock other_options %}
        </form>
        {% endblock options_form %}
      </div>
      <div id="right-col" class="col-8">
        {% block right_col %}
        {% endblock right_col %}
      </div>
    </main>
    {% endblock main %}
  </body>
</html>
