<!DOCTYPE html>
<html lang="en">
  <title>
    Alice - A PPCP Testing Tool
  </title>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='statuses.css') }}"/>
    <script src="{{ url_for('static', filename='utils.js') }}"></script>

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
      This is the sandbox environment.
      To request features or support, go to
      <a href="https://paypal.slack.com/archives/C04TWRUMG5Q">#help-alice</a>.
    </header>
    <main>
    {% block main %}
      <div class="col-4">
        {% block nav %}
        <h1 class="title">
          Alice - A PPCP Testing Tool
        </h1>
        <nav>
          <ul>
            <li>
              <a href="{{ url_for('partner_form.onboarding') }}">
                Onboarding
              </a>
            </li>
            <li>
              <a href="{{ url_for('store_form.checkout_branded') }}">
                Checkout - Branded
              </a>
            </li>
            <li>
              <a href="{{ url_for('statuses.statuses') }}">
                Statuses
              </a>
            </li>
          </ul>
        </nav>
        {% endblock %}
      </main>
    {% endblock %}
  </body>
</html>
