<article>
  <script>
    var orderId;
    function createOrder() {
      return fetch('/api/orders/create-vault', {
        headers: {'Content-Type': 'application/json'},
        method: 'POST',
        body: JSON.stringify({
          customer_id: "{{ customer_id }}",
          price: "{{ product['price'] }}", 
          payee_id: "{{ payee_id }}"
        })
      }).then(function(res) {
        return res.json();
      }).then(function(createData) {
        orderId = createData.id;
        console.log('createData: ' + JSON.stringify(createData));
      })
    }
    function approveOrder(url) {
      window.open('https://www.sandbox.paypal.com/checkoutnow?token=' + orderId, '_blank').focus();
    }
    function captureOrder() {
      return fetch('/api/orders/capture/' + orderId, {
        method: 'POST',
      }).then(function(res) {
        return res.json();
      }).then(function(captureData) {
        console.log('captureData: ' + JSON.stringify(captureData));
      })
    }
    function openDetails() {
      window.open("http://localhost:5000/store/order-details/" + orderId, '_blank').focus();
    }
  </script>
  <body>
    
    <!-- Information about the product -->
    <h1>Product Page</h1>
    <p>Product name: {{ product['name'] }}</p>
    <p>Price: ${{ product['price'] }}</p>
    <p>Description: {{ product['description'] }}</p> 

    <button onclick="createOrder()">Create</button>
    <button onclick="approveOrder()">Approve</button>
    <button onclick="captureOrder()">Capture</button>
    <button onclick="openDetails()">Details</button>
  </body>
</article>