{% extends "checkout-base.html" %}

{% block foot %}

{{ super() }}

<script id="script-onchange-reload">
  (function addOnChange() {
    const elementIDs = [
      'intent',
      'customer-id',
      'vault-v3',
    ]
    for (const elementID of elementIDs) {
      const element = document.getElementById(elementID)
      element.addEventListener('change', (event) => {
        reloadCheckout()
      })
    }
  })();
</script>
{% endblock %}

{% block checkout %}
<!-- Empty (for now) button container -->
<div id="paypal-button-wrapper" class="text-center">
  <div id="paypal-button-container"></div>
</div>

<script id="script-pp-checkout">
  let orderID
  let options
  function checkoutClosure() {
    let buttons
    async function loadCheckout() {
      buttons = await paypal.Buttons({
        onClick: function (data) {
          console.group("Button clicked!")
          const fundingSource = data.fundingSource
          console.log("fundingSource:", fundingSource)
          console.groupEnd()
        },
        createOrder: async function (data, actions) {
          console.group("Creating the order...")
          const paymentSource = data.paymentSource
          console.log("paymentSource:", paymentSource)
          console.log("Getting form info...")
          options = getOptions()
          const res = await fetch('/api/orders/create', {
            headers: {'Content-Type': 'application/json'},
            method: 'POST',
            body: JSON.stringify(options)
          })
          const createData = await res.json()
          updateAPICalls(createData.formatted)
          document.getElementById('auth-header').value = createData.authHeader
          console.log('authHeader:', createData.authHeader)
          options['auth-header'] = createData.authHeader
          orderId = createData.orderId
          console.log("orderID:", orderId)
          console.groupEnd()
          return orderId
        },
        onApprove: async function(data, actions) {
          console.group("Order approved!")
          const paymentSource = data.paymentSource
          console.log("paymentSource:", paymentSource)

          const res = await fetch(`/api/orders/capture/${data.orderID}`, {
            headers: {'Content-Type': 'application/json'},
            method: 'POST',
            body: JSON.stringify(options)
          })
          const captureData = await res.json()

          updateAPICalls(captureData.formatted)
          console.groupEnd()
          // Your server response structure and key names are what you choose
          if (captureData.error === 'INSTRUMENT_DECLINED') {
            return actions.restart()
          }
        },
      })
      return buttons
      .render('#paypal-button-container')
      .catch((err) => {
        console.log("Caught an error while rendering checkout:", err)
      })
    }

    async function reloadMyCheckout() {
      await buttons.close()
      await buildScriptElement(function() {
        resetCheckoutContainer()
        loadCheckout()
      })
    }
    buildScriptElement(loadCheckout)
    return reloadMyCheckout
  }
  let reloadCheckout
  window.addEventListener('DOMContentLoaded', function() {
    reloadCheckout = checkoutClosure()
  })

</script>
{% endblock %}