{% extends "columnar-base.html" %}

{% block head %}
<script id="script-utils">
  function getOptions() {
    const formData = new FormData(document.getElementById('options-form'))
    const formOptions = Object.fromEntries(formData)
    formOptions['partner-id'] = document.getElementById('partner-id').value
    formOptions['client-id'] = document.getElementById('partner-client-id').value
    formOptions['merchant-id'] = document.getElementById('merchant-id').value
    formOptions['bn-code'] = document.getElementById('bn-code').value
    return formOptions
  }
  function copyToClipboard(id) {
    navigator.clipboard.writeText(document.getElementById(id).value)
  }
  function updateAPICalls(formattedCalls, click=true) {
    const apiCallsButton = document.getElementById('api-calls')
    if (click) {
      apiCallsButton.click()
    }
    for (const id in formattedCalls) {
      if (formattedCalls.hasOwnProperty(id)) {
        const contents = formattedCalls[id]
        const apiCallTab = document.getElementById(`api-calls-${id}`)
        apiCallTab.innerHTML = contents
        const apiCallsSubButton = document.getElementById(id)
        enableButton(apiCallsSubButton)
        if (click) {
          apiCallsSubButton.click()
        }
      }
    }
  }
  function enableButton(button) {
    const disabledClassList = ["text-zinc-500", "dark:text-zinc-500", "cursor-not-allowed", "hidden"]
    const enabledClassList = ["hover:text-zinc-700", "hover:bg-zinc-100/50", "dark:hover:text-zinc-300", "dark:hover:bg-zinc-700/50"]

    button.classList.remove(...disabledClassList)
    button.classList.add(...enabledClassList)
  }
  function makeActiveButton(buttonList, button) {
    const activeClassList = ["text-blue-600", "bg-zinc-200/50", "dark:text-blue-500", "dark:bg-zinc-600/50", "active"]
    const inactiveClassList = ["hover:text-zinc-700", "hover:bg-zinc-100/50", "dark:hover:text-zinc-300", "dark:hover:bg-zinc-700/50"]

    buttonList.forEach(each => {
      each.classList.remove(...activeClassList)
      each.classList.add(...inactiveClassList)
    })

    button.classList.remove(...inactiveClassList)
    button.classList.add(...activeClassList)
  }
  function makeActiveTab(tabList, tab) {
    tabList.forEach(each => {each.classList.add("hidden");})
    tab.classList.remove("hidden")
  }
</script>
<script>
  function populateForm() {
    // Extract querystring parameters and populate form accordingly.
    const params = new Proxy(new URLSearchParams(window.location.search), {
      get: (searchParams, prop) => searchParams.get(prop),
    })
    const intent = params.intent
    document.getElementById('intent').value = intent

    const shippingPreference = params['shipping-preference']
    document.getElementById('shipping-preference').value = shippingPreference

    const price = params.price
    document.getElementById('price').value = price || 3.14

    const referenceID = params['reference-id']
    document.getElementById('reference-id').value = referenceID || ''

    const partnerFee = params['partner-fee']
    document.getElementById('partner-fee').value = partnerFee || 0

    const itemCategory = params['item-category']
    document.getElementById('item-category').value = itemCategory

    const BAToken = params['ba-token']
    document.getElementById('ba-token').value = BAToken || ''
  }
  // populateForm()
</script>
{% endblock %}

{% block foot %}
<script id="script-pp-utils">
  async function getIdToken() {
    console.groupCollapsed("Requesting ID token...")

    const vaultV3 = document.getElementById('vault-v3').value
    const customerId = document.getElementById('customer-id').value
    let endpoint
    if (vaultV3 === 'merchant') {
      endpoint = `/api/identity/id-token-with-auth/${customerId}`
    } else {
      endpoint = `/api/identity/id-token/${customerId}`
    }
    const idTokenResponse = await fetch(endpoint)
    const responseJson = await idTokenResponse.json()
    console.log("Response JSON:", JSON.stringify(responseJson, null, 2))

    const formatted = responseJson['formatted']
    updateAPICalls(formatted, click=false)

    let idToken
    if (responseJson.hasOwnProperty('id-token')) {
      idToken = responseJson['id-token']
      console.log("ID token:", idToken)
    }
    if (responseJson.hasOwnProperty('auth-header')) {
      const authHeader = responseJson['auth-header']
      document.getElementById('auth-header').value = authHeader
    }

    console.groupEnd()
    return idToken
  }
  async function buildScriptElement(onload, vault=false) {
    const options = getOptions()
    const url = new URL('https://www.paypal.com/sdk/js')
    url.searchParams.append("client-id", options['client-id'])
    url.searchParams.append("merchant-id", options['merchant-id'])
    url.searchParams.append("intent", options['intent'].toLowerCase())
    url.searchParams.append("currency", options['currency'])
    url.searchParams.append("commit", true)

    url.searchParams.append("vault", Boolean(options['vault-v3']))

    const oldScriptElement = document.getElementById('paypal-js-sdk')
    if (oldScriptElement.hasAttribute('src')) {
      const oldScriptURL = new URL(oldScriptElement.src)
      if (oldScriptURL.searchParams.has('components')) {
        const components = oldScriptURL.searchParams.get('components')
        url.searchParams.append('components', components)
      }
      if (oldScriptURL.searchParams.has('enable-funding')) {
        const enableFunding = oldScriptURL.searchParams.get('enable-funding')
        url.searchParams.append('enable-funding', enableFunding)
      }
      if (oldScriptURL.searchParams.has('disable-funding')) {
        const disableFunding = oldScriptURL.searchParams.get('disable-funding')
        url.searchParams.append('disable-funding', disableFunding)
      }
    }

    const newScriptElement = document.createElement('script')
    newScriptElement.id = 'paypal-js-sdk'
    newScriptElement.src = url.href

    const customerId = document.getElementById('customer-id')
    if (oldScriptElement.hasAttribute('data-client-token')) {
      const dataClientToken = oldScriptElement.getAttribute('data-client-token')
      newScriptElement.setAttribute('data-client-token', dataClientToken)
    } else if (customerId.value !== null) {
      const dataClientToken = getToken(customerId.value)
      newScriptElement.setAttribute('data-client-token', dataClientToken)
    }

    const BNCode = options['bn-code']
    newScriptElement.setAttribute('data-partner-attribution-id', BNCode)

    newScriptElement.onload = onload
    oldScriptElement.replaceWith(newScriptElement)
  }
  async function resetCheckoutContainer() {
    const containerID = 'paypal-button-container'

    const newContainer = document.createElement('div')
    newContainer.setAttribute('id', containerID)

    const oldContainer = document.getElementById(containerID)
    oldContainer.replaceWith(newContainer)
  }
</script>
<script id="script-initial-api-calls">
  const formattedCalls = {{ formatted_calls|default('null')| safe }}
  if (formattedCalls !== null) {
    updateAPICalls(formattedCalls)
  }
</script>
<script id="script-init-tabs">
  function initializeTabsAndButtons(prefix) {
    const root = document.querySelector(`#${prefix}buttons-tabs`)
    const buttonContainer = root.querySelector(`#${prefix}buttons`)
    const tabContainer = root.querySelector(`#${prefix}tabs`)
    const buttonList = buttonContainer.querySelectorAll(".button")
    const tabList = root.querySelectorAll(`#${prefix}tabs > .tab`)
    buttonContainer.onclick = function(e) {
      const button = e.target
      const buttonId = button.getAttribute("id")
      if (buttonId != null && !button.classList.contains("cursor-not-allowed")) {
        makeActiveButton(buttonList, button)

        const tab = document.getElementById(`tab-${buttonId}`)
        if (tab === null) {
          console.log(`document.getElementById('tab-${buttonId}') found null!`)
        } else {
          makeActiveTab(tabList, tab)
        }
      }
    }
  }
  initializeTabsAndButtons('')
  initializeTabsAndButtons('api-calls-')
  document.getElementById("checkout").click()
</script>
{% endblock %}

{% block left_col %}
<form id="options-form" class="space-y-4">
  <input class="hidden" id="auth-header"></input>
  <fieldset class="space-y-2">
    <legend class="block font-semibold">
      SDK Options
    </legend>
    <fieldset class="ml-2 space-y-2">
      <fieldset class="
      flex
      flex-row
      flex-wrap
      items-center
      justify-between
      ">
        <label for="intent" class="
        grow
        shrink-0
        basis-1/3
        whitespace-nowrap
        mr-auto
        ">
          Intent
        </label>
        <select name="intent" id="intent" class="
        leading-none
        px-2
        py-1
        basis-2/3
        grow
        rounded
        border
        focus:outline-none
        bg-zinc-100 dark:bg-zinc-700
        border-zinc-300 dark:border-zinc-600
        focus:bg-white dark:focus:bg-zinc-900
        focus:border-blue-500 dark:focus:border-blue-500
        ">
          <option value="CAPTURE" selected>Capture</option>
          <option value="AUTHORIZE">Authorize</option>
        </select>
      </fieldset>
      <fieldset class="
      flex
      flex-row
      flex-wrap
      items-center
      justify-between
      ">
        <label for="currency" class="
        grow
        shrink-0
        basis-1/3
        whitespace-nowrap
        mr-auto
        ">
          Currency
        </label>
        <select name="currency" id="currency" class="
        leading-none
        px-2
        py-1
        basis-2/3
        grow
        rounded
        border
        focus:outline-none
        bg-zinc-100 dark:bg-zinc-700
        border-zinc-300 dark:border-zinc-600
        focus:bg-white dark:focus:bg-zinc-900
        focus:border-blue-500 dark:focus:border-blue-500
        ">
          <option value="USD" selected>USD</option>
        </select>
      </fieldset>
    </fieldset>
  </fieldset>
  <fieldset class="space-y-2">
    <legend class="block font-semibold">Partner/merchant info</legend>
    <div class="ml-2 space-y-2">
      <div class="
      flex
      flex-row
      flex-wrap
      items-center
      justify-between
      ">
        <label for="partner-id" class="
        grow
        shrink-0
        basis-1/3
        whitespace-nowrap
        mr-auto
        ">
          Partner ID
        </label>
        <input id="partner-id" name="partner-id" value="{{ partner_id }}" disabled class="
        appearance-none
        px-2
        py-1
        min-w-0
        flex-auto
        basis-2/5
        border
        rounded
        leading-none
        font-mono
        focus:outline-none
        bg-zinc-100 dark:bg-zinc-700
        border-zinc-300 dark:border-zinc-600
        focus:border-blue-500
        ">
        <button type="button" onclick="copyToClipboard('partner-id')" class="
        px-2
        py-1
        ml-1
        basis-1/6
        rounded
        uppercase
        text-xs
        text-white
        bg-blue-600
        hover:bg-blue-700
        active:bg-blue-800
        focus:outline-none
        focus:ring
        focus:ring-blue-400
        ">
          copy
        </button>
      </div>
      <div class="
      flex
      flex-row
      flex-wrap
      items-center
      ">
        <label for="partner-client-id" class="
        grow
        shrink-0
        basis-1/3
        whitespace-nowrap
        mr-auto
        ">
          Client ID
        </label>
        <input id="partner-client-id" name="partner-client-id" value="{{ partner_client_id }}" disabled class="
        appearance-none
        px-2
        py-1
        min-w-0
        flex-auto
        basis-2/5
        border
        rounded
        leading-none
        font-mono
        focus:outline-none
        bg-zinc-100 dark:bg-zinc-700
        border-zinc-300 dark:border-zinc-600
        focus:border-blue-500
        ">
        <button type="button" onclick="copyToClipboard('partner-client-id')" class="
        px-2
        py-1
        ml-1
        basis-1/6
        rounded
        uppercase
        text-xs
        text-white
        bg-blue-600
        hover:bg-blue-700
        active:bg-blue-800
        focus:outline-none
        focus:ring
        focus:ring-blue-400
        ">
          copy
        </button>
      </div>
      <div class="
      mb-2
      flex
      flex-row
      flex-wrap
      items-center
      ">
        <label for="bn-code" class="
        grow
        shrink-0
        basis-1/3
        whitespace-nowrap
        mr-auto
        ">
          Merchant ID
        </label>
        <input id="merchant-id" name="merchant-id" value="{{ merchant_id }}" disabled class="
        appearance-none
        px-2
        py-1
        min-w-0
        flex-auto
        basis-2/5
        border
        rounded
        leading-none
        font-mono
        focus:outline-none
        bg-zinc-100 dark:bg-zinc-700
        border-zinc-300 dark:border-zinc-600
        focus:border-blue-500
        ">
        <button type="button" onclick="copyToClipboard('merchant-id')" class="
        px-2
        py-1
        ml-1
        basis-1/6
        rounded
        uppercase
        text-xs
        text-white
        bg-blue-600
        hover:bg-blue-700
        active:bg-blue-800
        focus:outline-none
        focus:ring
        focus:ring-blue-400
        ">
          copy
        </button>
      </div>
      <div class="
      flex
      flex-row
      flex-wrap
      items-center
      ">
        <label for="merchant-id" class="
        grow
        shrink-0
        basis-1/3
        whitespace-nowrap
        mr-auto
        ">
          Merchant ID
        </label>
        <input id="merchant-id" name="merchant-id" value="{{ merchant_id }}" disabled class="
        appearance-none
        px-2
        py-1
        min-w-0
        flex-auto
        basis-2/5
        border
        rounded
        leading-none
        font-mono
        focus:outline-none
        bg-zinc-100 dark:bg-zinc-700
        border-zinc-300 dark:border-zinc-600
        focus:border-blue-500
        ">
        <button type="button" onclick="copyToClipboard('merchant-id')" class="
        px-2
        py-1
        ml-1
        basis-1/6
        rounded
        uppercase
        text-xs
        text-white
        bg-blue-600
        hover:bg-blue-700
        active:bg-blue-800
        focus:outline-none
        focus:ring
        focus:ring-blue-400
        ">
          copy
        </button>
      </div>
    </div>
  </fieldset>
  {% block checkout_options %}
  {% endblock %}
  <fieldset class="space-y-2">
    <legend class="block font-semibold">
      Vault v3 Info
    </legend>
    <div class="ml-2 space-y-2">
      <fieldset class="
      flex
      flex-row
      flex-wrap
      items-center
      justify-between
      ">
        <label for="vault-v3" class="
        grow
        shrink-0
        basis-1/3
        whitespace-nowrap
        mr-auto
        ">
          Vault level
        </label>
        <select name="vault-v3" id="vault-v3" class="
        leading-none
        px-2
        py-1
        basis-2/3
        grow
        rounded
        border
        focus:outline-none
        bg-zinc-100 dark:bg-zinc-700
        border-zinc-300 dark:border-zinc-600
        focus:bg-white dark:focus:bg-zinc-900
        focus:border-blue-500 dark:focus:border-blue-500
        ">
          <option value="" selected>None</option>
          <option value="merchant">Merchant-level</option>
          <option value="platform">Partner-level</option>
        </select>
      </fieldset>
      <fieldset class="
      flex
      flex-row
      flex-wrap
      items-center
      justify-between
      ">
        <label for="customer-id" type="text" class="
        grow
        shrink-0
        basis-1/3
        whitespace-nowrap
        mr-auto
        ">
          Customer ID
        </label>
        <input id="customer-id" name="customer-id" type="text" class="
        appearance-none
        leading-none
        px-2
        py-1
        min-w-0
        flex-auto
        basis-2/3
        font-mono
        rounded
        border
        focus:outline-none
        bg-zinc-100 dark:bg-zinc-700
        border-zinc-300 dark:border-zinc-600
        focus:bg-white dark:focus:bg-zinc-900
        focus:border-blue-500 dark:focus:border-blue-500
        ">
      </fieldset>
      <fieldset class="
      flex
      flex-row
      flex-wrap
      items-center
      justify-between
      ">
        <label for="vault-id" class="
        grow
        shrink-0
        basis-1/3
        whitespace-nowrap
        mr-auto
        ">
          Vault v3 ID
        </label>
        <input id="vault-id" name="vault-id" class="
        appearance-none
        leading-none
        px-2
        py-1
        min-w-0
        flex-auto
        basis-2/3
        font-mono
        rounded
        border
        focus:outline-none
        bg-zinc-100 dark:bg-zinc-700
        border-zinc-300 dark:border-zinc-600
        focus:bg-white dark:focus:bg-zinc-900
        focus:border-blue-500 dark:focus:border-blue-500
        ">
      </fieldset>
    </div>
  </fieldset>
  <fieldset class="space-y-2">
    <legend class="block font-semibold">
      Billing Agreement (BA) Info
    </legend>
    <div class="ml-2 space-y-2">
      <fieldset class="
      flex
      flex-row
      flex-wrap
      items-center
      justify-between
      ">
        <label for="ba-token" type="text" class="
        grow
        shrink-0
        basis-1/3
        whitespace-nowrap
        mr-auto
        ">
          BA Token
        </label>
        <input id="ba-token" name="ba-token" type="text" class="
        appearance-none
        leading-none
        px-2
        py-1
        min-w-0
        flex-auto
        basis-2/3
        font-mono
        rounded
        border
        focus:outline-none
        bg-zinc-100 dark:bg-zinc-700
        border-zinc-300 dark:border-zinc-600
        focus:bg-white dark:focus:bg-zinc-900
        focus:border-blue-500 dark:focus:border-blue-500
        ">
      </fieldset>
      <fieldset class="
      flex
      flex-row
      flex-wrap
      items-center
      justify-between
      ">
        <label for="ba-id" class="
        grow
        shrink-0
        basis-1/3
        whitespace-nowrap
        mr-auto
        ">
          BA ID
        </label>
        <input id="ba-id" name="ba-id" class="
        appearance-none
        leading-none
        px-2
        py-1
        min-w-0
        flex-auto
        basis-2/3
        font-mono
        rounded
        border
        focus:outline-none
        bg-zinc-100 dark:bg-zinc-700
        border-zinc-300 dark:border-zinc-600
        focus:bg-white dark:focus:bg-zinc-900
        focus:border-blue-500 dark:focus:border-blue-500
        ">
      </fieldset>
    </div>
  </fieldset>
  <fieldset class="space-y-2">
    <legend class="block font-semibold">
      Order options
    </legend>
    <fieldset class="ml-2 space-y-2">
      <fieldset class="
      flex
      flex-row
      flex-wrap
      items-center
      justify-between
      ">
        <label for="shipping-preference" class="
        grow
        shrink-0
        basis-1/3
        whitespace-nowrap
        mr-auto
        ">
          Shipping
        </label>
        <select name="shipping-preference" id="shipping-preference" class="
        leading-none
        px-2
        py-1
        basis-2/3
        grow
        rounded
        border
        focus:outline-none
        bg-zinc-100 dark:bg-zinc-700
        border-zinc-300 dark:border-zinc-600
        focus:bg-white dark:focus:bg-zinc-900
        focus:border-blue-500 dark:focus:border-blue-500
        ">
          <option value="" selected>Unspecified</option>
          <option value="NO_SHIPPING">No shipping</option>
          <option value="GET_FROM_FILE">Get from file</option>
          <option value="SET_PROVIDED_ADDRESS">Set provided address</option>
        </select>
      </fieldset>
    </fieldset>
  </fieldset>
  <fieldset class="space-y-2">
    <legend class="block font-semibold">
      Purchase unit options
    </legend>
    <div class="ml-2 space-y-2">
      <fieldset class="
      flex
      flex-row
      flex-wrap
      items-center
      justify-between
      ">
        <label for="reference-id" class="
        grow
        shrink-0
        basis-1/3
        whitespace-nowrap
        mr-auto
        ">
          Reference ID
        </label>
        <input id="reference-id" name="reference-id" placeholder="default" type="text" class="
        appearance-none
        leading-none
        px-2
        py-1
        min-w-0
        flex-auto
        basis-2/3
        font-mono
        rounded
        border
        focus:outline-none
        bg-zinc-100 dark:bg-zinc-700
        border-zinc-300 dark:border-zinc-600
        focus:bg-white dark:focus:bg-zinc-900
        focus:border-blue-500 dark:focus:border-blue-500
        ">
      </fieldset>
      <fieldset class="
      flex
      flex-row
      flex-wrap
      items-center
      justify-between
      ">
        <label for="custom-id" class="
        grow
        shrink-0
        basis-1/3
        whitespace-nowrap
        mr-auto
        ">
          Custom ID
        </label>
        <input id="custom-id" name="custom-id" type="text" class="
        appearance-none
        leading-none
        px-2
        py-1
        min-w-0
        flex-auto
        basis-2/3
        font-mono
        rounded
        border
        focus:outline-none
        bg-zinc-100 dark:bg-zinc-700
        border-zinc-300 dark:border-zinc-600
        focus:bg-white dark:focus:bg-zinc-900
        focus:border-blue-500 dark:focus:border-blue-500
        ">
      </fieldset>
      <fieldset class="
      flex
      flex-row
      flex-wrap
      items-center
      justify-between
      ">
        <label for="soft-descriptor" class="
        grow
        shrink-0
        basis-1/3
        whitespace-nowrap
        mr-auto
        ">
          Soft descriptor
        </label>
        <input id="soft-descriptor" name="soft-descriptor" type="text" class="
        appearance-none
        leading-none
        px-2
        py-1
        min-w-0
        flex-auto
        basis-2/3
        font-mono
        rounded
        border
        focus:outline-none
        bg-zinc-100 dark:bg-zinc-700
        border-zinc-300 dark:border-zinc-600
        focus:bg-white dark:focus:bg-zinc-900
        focus:border-blue-500 dark:focus:border-blue-500
        ">
      </fieldset>
      <fieldset class="
      flex
      flex-row
      flex-wrap
      items-center
      justify-between
      ">
        <label for="partner-fee" class="
        grow
        shrink-0
        basis-1/3
        whitespace-nowrap
        mr-auto
        ">
          Partner fee
        </label>
        <input id="partner-fee" type="number" name="partner-fee" value="0" class="
        appearance-none
        leading-none
        px-2
        py-1
        min-w-0
        flex-auto
        basis-2/3
        font-mono
        rounded
        border
        focus:outline-none
        bg-zinc-100 dark:bg-zinc-700
        border-zinc-300 dark:border-zinc-600
        focus:bg-white dark:focus:bg-zinc-900
        focus:border-blue-500 dark:focus:border-blue-500
        ">
      </fieldset>
      <fieldset class="space-y-2">
        <legend class="block">
          Include:
        </legend>
        <ul class="ml-1 w-full space-y-1">
          <li class="w-full space-x-1">
            <input id="include-shipping-address" type="checkbox" name="include-shipping-address" value="YES" class="
            w-4
            h-4
            rounded
            border-zinc-300 dark:border-zinc-600
            focus:ring-2
            focus:ring-blue-300 dark:focus:ring-blue-600
            dark:bg-zinc-700
            dark:focus:bg-blue-600
            ">
            <label for="include-shipping-address">
              Shipping address
            </label>
          </li>
          <li class="w-full space-x-1">
            <input id="include-shipping-options" type="checkbox" name="include-shipping-options" value="YES" class="
            w-4
            h-4
            rounded
            border-zinc-300 dark:border-zinc-600
            focus:ring-2
            focus:ring-blue-300 dark:focus:ring-blue-600
            dark:bg-zinc-700
            dark:focus:bg-blue-600
            ">
            <label for="include-shipping-options">
              Shipping option
            </label>
          </li>
        </ul>
      </fieldset>
  </fieldset>

  <fieldset>
    <legend class="block mb-2 font-semibold">
      Item options
    </legend>
    <div class="ml-2">
      <div class="
      mb-2
      flex
      flex-row
      flex-wrap
      items-center
      justify-between
      ">
        <label for="price" class="
        grow
        shrink-0
        basis-1/3
        whitespace-nowrap
        mr-auto
        ">
          Price
        </label>
        <input id="price" type="number" name="price" value="3.14" class="
        appearance-none
        leading-none
        px-2
        py-1
        min-w-0
        flex-auto
        basis-2/3
        font-mono
        rounded
        border
        focus:outline-none
        bg-zinc-100 dark:bg-zinc-700
        border-zinc-300 dark:border-zinc-600
        focus:bg-white dark:focus:bg-zinc-900
        focus:border-blue-500 dark:focus:border-blue-500
        ">
      </div>
      <div class="
      mb-2
      flex
      flex-row
      flex-wrap
      items-center
      justify-between
      ">
        <label for="tax" class="
        grow
        shrink-0
        basis-1/3
        whitespace-nowrap
        mr-auto
        ">
          Tax
        </label>
        <input id="tax" type="number" name="tax" value="0.00" class="
        appearance-none
        leading-none
        px-2
        py-1
        min-w-0
        flex-auto
        basis-2/3
        font-mono
        rounded
        border
        focus:outline-none
        bg-zinc-100 dark:bg-zinc-700
        border-zinc-300 dark:border-zinc-600
        focus:bg-white dark:focus:bg-zinc-900
        focus:border-blue-500 dark:focus:border-blue-500
        ">
      </div>
      <div class="
      mb-2
      flex
      flex-row
      flex-wrap
      items-center
      justify-between
      ">
        <legend for="item-category" class="
        grow
        shrink-0
        basis-1/3
        whitespace-nowrap
        mr-auto
        ">
          Category
        </legend>
        <select name="item-category" id="item-category" class="
        leading-none
        px-2
        py-1
        basis-2/3
        grow
        rounded
        border
        focus:outline-none
        bg-zinc-100 dark:bg-zinc-700
        border-zinc-300 dark:border-zinc-600
        focus:bg-white dark:focus:bg-zinc-900
        focus:border-blue-500 dark:focus:border-blue-500
        ">
          <option value="None" selected>Unspecified</option>
          <option value="PHYSICAL_GOODS">Physical goods</option>
          <option value="DIGITAL_GOODS">Digital goods</option>
          <option value="DONATION">Donation</option>
        </select>
      </div>
      <div class="
      mb-2
      flex
      flex-row
      flex-wrap
      items-center
      justify-between
      ">
        <legend for="disbursement-mode" class="
        grow
        shrink-0
        basis-1/3
        whitespace-nowrap
        mr-auto
        ">
          Disbursement
        </legend>
        <select name="disbursement-mode" id="disbursement-mode" class="
        leading-none
        px-2
        py-1
        basis-2/3
        grow
        rounded
        border
        focus:outline-none
        bg-zinc-100 dark:bg-zinc-700
        border-zinc-300 dark:border-zinc-600
        focus:bg-white dark:focus:bg-zinc-900
        focus:border-blue-500 dark:focus:border-blue-500
        ">
          <option value="INSTANT" selected>Instant</option>
          <option value="DELAYED">Delayed</option>
        </select>
      </div>
    </div>
  </fieldset>
  {% block additional_options %}
  {% endblock %}
</form>
{% endblock %}

{% block right_col %}
<div id="buttons-tabs">
  <!-- Buttons for tabs -->
  <div id="buttons">
    <ul class="
    flex
    flex-wrap
    text-center
    border-b
    mb-2
    text-zinc-600 dark:text-zinc-400
    border-zinc-300 dark:border-zinc-600
    ">
      <li class="mr-2">
        <a href="#" id="checkout" class="
        button
        inline-block
        p-4
        rounded-t-lg
        hover:text-zinc-700 dark:hover:text-zinc-300
        hover:bg-zinc-100 dark:hover:bg-zinc-700
        ">Checkout</a>
      </li>
      <li class="mr-2">
        <a href="#" id="api-calls" class="
        button
        inline-block
        p-4
        rounded-t-lg
        hover:text-zinc-700 dark:hover:text-zinc-300
        hover:bg-zinc-100 dark:hover:bg-zinc-700
        ">API Calls</a>
      </li>
    </ul>
  </div>

  <!-- Tabs -->
  <div id="tabs" class="w-100">
    <div id="tab-checkout" class="tab center hidden">
      <div class="
      rounded-b-md
      w-full
      top-0
      p-2
      ">
        {{ script_tag | safe }}
        {% block checkout %}
        {% endblock %}
      </div>
    </div>
    <div id="tab-api-calls" class="tab center hidden">
      <div id="api-calls-buttons-tabs">
        <!-- Buttons for tabs -->
        <div id="api-calls-buttons">
          <ul class="
          flex
          flex-wrap
          text-center
          border-b
          mb-2
          text-zinc-500 dark:text-zinc-500
          border-zinc-300 dark:border-zinc-600
          ">
            <li>
              <a id="access-token" href="#" class="
              button
              inline-block
              p-4
              rounded-t-lg
              cursor-not-allowed
              ">Access Token</a>
            </li>
            <li>
              <a id="client-token" href="#" class="
              button
              inline-block
              p-4
              rounded-t-lg
              cursor-not-allowed
              hidden
              ">Client Token</a>
            </li>
            <li>
              <a id="create-billing-agreement-token" href="#" class="
              button
              inline-block
              p-4
              rounded-t-lg
              cursor-not-allowed
              hidden
              ">Create BA Token</a>
            </li>
            <li>
              <a id="create-billing-agreement" href="#" class="
              button
              inline-block
              p-4
              rounded-t-lg
              cursor-not-allowed
              hidden
              ">Create BA</a>
            </li>
            <li>
              <a id="create-order" href="#" class="
              button
              inline-block
              p-4
              rounded-t-lg
              cursor-not-allowed
              ">Create Order</a>
            </li>
            <li>
              <a id="get-order" href="#" class="
              button
              inline-block
              p-4
              rounded-t-lg
              cursor-not-allowed
              hidden
              ">Get Order</a>
            </li>
            <li>
              <a id="authorize-order" href="#" class="
              button
              inline-block
              p-4
              rounded-t-lg
              cursor-not-allowed
              hidden
              ">Authorize Order</a>
            </li>
            <li>
              <a id="capture-order" href="#" class="
              button
              inline-block
              p-4
              rounded-t-lg
              cursor-not-allowed
              ">Capture Order</a>
            </li>
            <li>
              <a id="sdk-error" href="#" class="
              button
              inline-block
              p-4
              rounded-t-lg
              cursor-not-allowed
              ">SDK Error</a>
            </li>
          </ul>
        </div>

        <!-- Tabs -->
        <div id="api-calls-tabs" class="font-mono dark:text-zinc-100">
          <div id="tab-access-token" class="tab center hidden">
            <div id="api-calls-access-token" class="
            w-full
            top-0
            p-2
            break-words
            whitespace-pre-wrap
            bg-zinc-100 dark:bg-zinc-700
            "></div>
          </div>
          <div id="tab-client-token" class="tab center hidden">
            <div id="api-calls-client-token" class="
            w-full
            top-0
            p-2
            break-words
            whitespace-pre-wrap
            bg-zinc-100 dark:bg-zinc-700
            "></div>
          </div>
          <div id="tab-create-billing-agreement-token" class="tab center hidden">
            <div id="api-calls-create-billing-agreement-token" class="
            w-full
            top-0
            p-2
            break-words
            whitespace-pre-wrap
            bg-zinc-100 dark:bg-zinc-700
            "></div>
          </div>
          <div id="tab-create-billing-agreement" class="tab center hidden">
            <div id="api-calls-create-billing-agreement" class="
            w-full
            top-0
            p-2
            break-words
            whitespace-pre-wrap
            bg-zinc-100 dark:bg-zinc-700
            "></div>
          </div>
          <div id="tab-create-order" class="tab center hidden">
            <div id="api-calls-create-order" class="
            w-full
            top-0
            p-2
            break-words
            whitespace-pre-wrap
            bg-zinc-100 dark:bg-zinc-700
            "></div>
          </div>
          <div id="tab-get-order" class="tab center hidden">
            <div id="api-calls-get-order" class="
            w-full
            top-0
            p-2
            break-words
            whitespace-pre-wrap
            bg-zinc-100 dark:bg-zinc-700
            "></div>
          </div>
          <div id="tab-authorize-order" class="tab center hidden">
            <div id="api-calls-authorize-order" class="
            w-full
            top-0
            p-2
            break-words
            whitespace-pre-wrap
            bg-zinc-100 dark:bg-zinc-700
            "></div>
          </div>
          <div id="tab-capture-order" class="tab center hidden">
            <div id="api-calls-capture-order" class="
            w-full
            top-0
            p-2
            break-words
            whitespace-pre-wrap
            bg-zinc-100 dark:bg-zinc-700
            "></div>
          </div>
          <div id="tab-sdk-error" class="tab center hidden">
            <div id="api-calls-sdk-error" class="
            w-full
            top-0
            p-2
            break-words
            whitespace-pre-wrap
            bg-zinc-100 dark:bg-zinc-700
            "></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}