{% extends 'checkout.html' %}

{% block vault_options %}
{% endblock vault_options %}

{% block inner_preamble_options %}
{{ super() }}
  <div>
    <label for="ppcp-type">PPCP Type</label>
    <select name="ppcp-type" id="ppcp-type">
      <option
      value="partner"
      {{ "selected" if partner_id != merchant_id else "" }}
      >Partner</option>
      <option
      value="direct-merchant"
      {{ "selected" if partner_id == merchant_id else "" }}
      >Direct merchant</option>
    </select>
  </div>
{% endblock inner_preamble_options %}

{% block checkout_div %}
<script type="module" src="/static/checkout-fastlane-flexible.js">
</script>
<div>
  <form id="fastlane-form" style="max-width: 363px;">
    <fieldset id="fastlane-email-container">
      <label for="fastlane-email-input">Email</label>
      <input id="fastlane-email-input" name="fastlane-email-input" type="email" value="kite@lute.biz">
      <button type="button" id="fastlane-email-button" disabled>Look Up Email</button>
    </fieldset>

    <div id="fastlane-card-container" style="text-align: center;"></div>
    <div id="watermark-container">
      <img src="https://www.paypalobjects.com/fastlane-v1/assets/fastlane-with-tooltip_en_sm_light.0808.svg">
    </div>

    <div id="shipping-address-container">
      <div>
        <span>Shipping Address</span>
        <button type="button" id="shipping-address-button">Change</button>
      </div>
      <span id="shipping-watermark-container">
        <img src="https://www.paypalobjects.com/fastlane-v1/assets/fastlane_en_sm_light.0296.svg">
      </span>
    </div>

    <button type="button" id="pay-button" disabled>Pay</button>
  </form>
</div>
{% endblock checkout_div %}
