{% extends 'checkout.html' %}

{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='checkout-hf-v2.js') }}"></script>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='cards.css') }}"
/>
{% endblock head %}

{% block other_options %}
<fieldset id="hosted-v2-options">
  <details open>
    <summary>
      <span>
        <legend>
          Hosted Fields v2 options
        </legend>
      </span>
    </summary>
    <div>
      <label for="3ds-preference">
        3D-Secure (3DS)
      </label>
      <select name="3ds-preference" id="3ds-preference">
        <option value="" selected>None</option>
        <option value="SCA_WHEN_REQUIRED">When required</option>
        <option value="SCA_ALWAYS">Always</option>
      </select>
    </div>
  </details>
</fieldset>
{{ super() }}
{% endblock other_options %}

{% block checkout_div %}
<script>
  window.addEventListener('load', async function() {
    const options = loadOptions()
    window.sessionStorage.clear()
    setOptions(options)

    const loadCheckout = hostedFieldsV2Closure()
    buildScriptElement(loadCheckout, 'hosted-fields-v2')
    addOnChange(saveOptionsAndReloadPage)

    const BNPCheckout = buyerNotPresentCheckout()
    document.getElementById('buyer-not-present-checkout').onclick = BNPCheckout
  })
</script>
<div id="checkout-hf-v2">
  <form id="form-hf-v2-card">
    <label for="hf-v2-card-number">Card Number</label>
    <div id="hf-v2-card-number"></div>

    <label for="hf-v2-expiration-date">Expiration Date</label>
    <div id="hf-v2-expiration-date"></div>

    <label for="hf-v2-cvv">CVV</label>
    <div id="hf-v2-cvv"></div>

    <label for="hf-v2-card-holder-name">Name on Card</label>
    <input
      type="text"
      id="hf-v2-card-holder-name"
      name="hf-v2-card-holder-name"
      placeholder="Card holder name"
    />

    <button value="submit" id="cf-pay">Pay</button>
  </form>
</div>
{% endblock %}
