{% extends 'base.html' %}

{% block head %}

{{ super() }}

<script src="{{ url_for('static', filename='checkout.js') }}"></script>

{% endblock %}

{% block other_options %}
  {% include 'checkout-options.html' %}
{% endblock %}


{% block right_col %}
<nav id='top-level-nav' role="tabset">
  <ol id="top-level-buttons">
    <li>
      <button id="button-checkout-branded" type="button" onclick="selectTab(event)">Checkout - Branded</button>
    </li>
    <li>
      <button id="button-checkout-card" type="button" onclick="selectTab(event)">Checkout - Card Fields</button>
    </li>
    <li>
      <button id="button-checkout-hosted" type="button" onclick="selectHosted(event)">Checkout - Hosted Fields</button>
    </li>
    <li>
      <button id="button-api-calls" type="button" onclick="selectTab(event)">API Calls</button>
    </li>
  </ol>
</nav>
<div id="tab-checkout-branded">
  <div id="paypal-button-container"></div>
  <script id="paypal-js-sdk"></script>
  <script>
    window.addEventListener('DOMContentLoaded', async function() {
      const options = loadOptions()
      console.log('options:', options)
      window.sessionStorage.clear()
      if (options.loadHosted) {
        document.getElementById('button-checkout-hosted').click()
      } else {
        document.getElementById('button-checkout-branded').click()
      }
    })
  </script>
</div>
<div id="tab-checkout-card">
  <form id="form-cf-card">
    <label for="cf-card-number">Card Number</label>
    <div id="cf-card-number"></div>

    <label for="cf-expiration-date">Expiration Date</label>
    <div id="cf-expiration-date"></div>

    <label for="cf-cvv">CVV</label>
    <div id="cf-cvv"></div>

    <label for="cf-card-holder-name">Name on Card</label>
    <input type="text" id="cf-card-holder-name" name="cf-card-holder-name" placeholder="card holder name"/>

    <button value="submit" id="cf-pay">Pay</button>
  </form>
</div>
<div id="tab-checkout-hosted">
  <form id="form-hf-card">
    <label for="hf-card-number">Card Number</label>
    <div id="hf-card-number"></div>

    <label for="hf-expiration-date">Expiration Date</label>
    <div id="hf-expiration-date"></div>

    <label for="hf-cvv">CVV</label>
    <div id="hf-cvv"></div>

    <label for="hf-card-holder-name">Name on Card</label>
    <input type="text" id="hf-card-holder-name" name="hf-card-holder-name" placeholder="card holder name"/>

    <label>Billing Address</label>
    <input type="text" id="hf-billing-address-street" name="hf-billing-address-street" placeholder="street address"/>
    <div class="break"></div>
    <input type="text" id="hf-billing-address-unit" name="hf-billing-address-unit" placeholder="unit"/>
    <div class="break"></div>
    <input type="text" id="hf-billing-address-city" name="hf-billing-address-city" placeholder="city""/>
    <div class="break"></div>
    <input type="text" id="hf-billing-address-state" name="hf-billing-address-state" placeholder="state"/>
    <div class="break"></div>
    <input type="text" id="hf-billing-address-zip" name="hf-billing-address-zip" placeholder="zip / postal code"/>
    <div class="break"></div>
    <input type="text" id="hf-billing-address-country" name="hf-billing-address-country" placeholder="country code"/>
    <div class="break"></div>

    <button value="submit" id="hf-pay">Pay</button>
  </form>
</div>
<div id="tab-api-calls">
  <nav role="tabset">
    <ol id="api-calls-buttons"></ol>
  </nav>
</div>
{% endblock %}