{% extends "checkout-base.html" %}

{% block foot %}

{{ super() }}

<script>
  function getContingencies() {
    return [document.getElementById('3ds-preference').value]
  }
</script>
{% endblock %}

{% block checkout_options %}
<fieldset>
  <legend class="block mb-2 font-semibold">
    Checkout options
  </legend>
  <div class="ml-2">
    <div class="
    mb-2
    flex
    flex-row
    flex-wrap
    items-center
    justify-between
    ">
      <label for="3ds-preference" class="basis-1/3">
        3D-Secure (3DS)
      </label>
      <select name="3ds-preference" id="3ds-preference" class="
      leading-none
      px-2
      py-1
      basis-2/3
      grow
      rounded
      border
      focus:outline-none
      bg-zinc-100 dark:bg-zinc-700
      border-zinc-300 dark:border-zinc-600
      focus:bg-white dark:focus:bg-zinc-900
      focus:border-blue-500 dark:focus:border-blue-500
      ">
        <option value="SCA_WHEN_REQUIRED" selected>Disabled</option>
        <option value="SCA_ALWAYS">Enabled</option>
      </select>
    </div>
  </div>
</fieldset>
{% endblock %}

{% block checkout %}

<!-- Sample CSS styles for demo purposes. You can override these styles to match your web page's branding. -->
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cardfields.css') }}"/> -->

<!-- Advanced credit and debit card payments form-->
<div class="max-w-sm">
  <form id="card-form" class="mb-4 space-y-2">
    <div class="space-y-1">
      <label for="card-number">Card Number</label>
      <div id="card-number" class="
      border
      rounded
      bg-white
      h-8
      p-2
      border-zinc-300 dark:border-zinc-600
      "></div>
    </div>
    <div class="space-y-1">
      <label for="expiration-date">Expiration Date</label>
      <div id="expiration-date" class="
      border
      rounded
      bg-white
      h-8
      p-2
      border-zinc-300 dark:border-zinc-600
      "></div>
    </div>
    <div class="space-y-1">
      <label for="cvv">CVV</label>
      <div id="cvv" class="
      border
      rounded
      bg-white
      h-8
      p-2
      border-zinc-300 dark:border-zinc-600
      "></div>
    </div>
    <div class="space-y-1">
      <label for="card-holder-name">Name on Card</label><br/>
      <input type="text" id="card-holder-name" name="card-holder-name" placeholder="card holder name" class="
      border
      rounded
      bg-white
      h-6
      p-2
      border-zinc-300 dark:border-zinc-600
      "/>
    </div>
    <div class="space-y-1">
      <label>Billing Address</label><br/>
      <input type="text" id="card-billing-address-street" name="card-billing-address-street" placeholder="street address" class="
      border
      rounded
      bg-white
      h-6
      p-2
      border-zinc-300 dark:border-zinc-600
      "/>
      <input type="text" id="card-billing-address-unit" name="card-billing-address-unit" placeholder="unit" class="
      border
      rounded
      bg-white
      h-6
      p-2
      border-zinc-300 dark:border-zinc-600
      "/>
      <input type="text" id="card-billing-address-city" name="card-billing-address-city" placeholder="city" class="
      border
      rounded
      bg-white
      h-6
      p-2
      border-zinc-300 dark:border-zinc-600
      "/>
      <input type="text" id="card-billing-address-state" name="card-billing-address-state" placeholder="state" class="
      border
      rounded
      bg-white
      h-6
      p-2
      border-zinc-300 dark:border-zinc-600
      "/>
      <input type="text" id="card-billing-address-zip" name="card-billing-address-zip" placeholder="zip / postal code" class="
      border
      rounded
      bg-white
      h-6
      p-2
      border-zinc-300 dark:border-zinc-600
      "/>
      <input type="text" id="card-billing-address-country" name="card-billing-address-country" placeholder="country code" class="
      border
      rounded
      bg-white
      h-6
      p-2
      border-zinc-300 dark:border-zinc-600
      "/>
    </div>
    <button value="submit" id="submit" class="
    bg-blue-700
    hover:bg-blue-900
    text-white
    font-bold
    px-4 py-2
    rounded
    ">Pay</button>
  </form>
</div>

<script>
  let orderID
  let options
  function loadCheckout() {
    if (paypal.HostedFields.isEligible()) {
      paypal.HostedFields.render({
        createOrder: function() {
          console.log("Getting form info...")
          options = getOptions()
          console.log("Creating the order...")
          return fetch('/api/orders-form/create', {
            headers: {'Content-Type': 'application/json'},
            method: 'POST',
            body: JSON.stringify(options)
          }).then(function(res) {
            return res.json()
          }).then(function(createData) {
            updateAPICalls(createData.formatted)
            orderID = createData.orderID
            return orderID
          })
        },
        styles: {
          '.valid': {'color': 'green'},
          '.invalid': {'color': 'red'}
        },
        fields: {
          number: {
            selector: "#card-number",
            placeholder: "4111 1111 1111 1111"
          },
          cvv: {
            selector: "#cvv",
            placeholder: "123"
          },
          expirationDate: {
            selector: "#expiration-date",
            placeholder: "MM/YY"
          }
        }
      }).then(function (cardFields) {
        document.querySelector("#card-form").addEventListener('submit', (event) => {
          event.preventDefault()

          cardFields.submit({
            // Cardholder's first and last name
            cardholderName: document.getElementById('card-holder-name').value,
            // Billing Address
            billingAddress: {
              streetAddress: document.getElementById('card-billing-address-street').value,
              extendedAddress: document.getElementById('card-billing-address-unit').value,
              region: document.getElementById('card-billing-address-state').value,
              locality: document.getElementById('card-billing-address-city').value,
              postalCode: document.getElementById('card-billing-address-zip').value,
              countryCodeAlpha2: document.getElementById('card-billing-address-country').value.toUpperCase()
            },
            // Trigger 3D Secure authentication
            contingencies: getContingencies()
          }).then(function() {
            return fetch(`/api/orders-form/status/${orderID}`, {
              headers: {'Content-Type': 'application/json'},
              method: 'GET',
            })
          }).then(function(res) {
            return res.json()
          }).then(function(statusData) {
            console.log(JSON.stringify(statusData, null, 2))
            updateAPICalls(statusData.formatted)
            return statusData
          }).then(function() {
            return fetch(`/api/orders-form/capture/${orderID}`, {
              headers: {'Content-Type': 'application/json'},
              method: 'POST',
              body: JSON.stringify(options)
            })
          }).then(function(res) {
            return res.json()
          }).then(function (captureData) {
            updateAPICalls(captureData.formatted)

            var errorDetail = Array.isArray(captureData.details) && captureData.details[0]
            if (errorDetail && errorDetail.issue === 'INSTRUMENT_DECLINED') {
              return actions.restart(); // Recoverable state, per:
              // https://developer.paypal.com/docs/checkout/integration-features/funding-failure/
            }
            if (errorDetail) {
                var msg = 'Sorry, your transaction could not be processed.'
                if (errorDetail.description) msg += '\n\n' + errorDetail.description
                if (captureData.debug_id) msg += ' (' + captureData.debug_id + ')'
                return alert(msg); // Show a failure message
            }
          }).catch(function (err) {
            const errText = JSON.stringify(err, null, 4)
            const formattedCalls = {"sdk-error": errText}
            updateAPICalls(formattedCalls)
            alert('Payment could not be captured! ' + errText)
          })
        })
      }).catch((err) => {
        console.log("Caught an error while rendering checkout:" + err)
      })
    } else {
      alert('Partner or merchant is not eligible for ACDC!')
      // Hides card fields if the merchant isn't eligible
      document.querySelector("#card-form").style = 'display: none'
    }
  }
  buildScriptElement(loadCheckout)
</script>
{% endblock %}
