{% extends "columnar-base.html" %}

{% block head %}
<script>
  function copyToClipboard(id) {
    navigator.clipboard.writeText(document.getElementById(id).value);
  }
  function updateAPICalls(id, contents) {
    var apiCalls = document.getElementById('api-calls');
    apiCalls.innerHTML += contents;
  }
</script>
{% endblock %}

{% block left_col %}
<form id="options-form" class="space-y-4">
  <div class="flex items-center mb-2">
    <label class="w-1/3 block text-sm font-medium text-gray-900 dark:text-gray-300" for="partner-id">Partner ID</label>
    <input class="w-1/2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white font-mono" id="partner-id" value="{{ partner_id }}" disabled>
    <button type="button" class="h-8 w-1/6 p-1 mx-1 bg-blue-600 text-white rounded-lg block uppercase text-xs hover:bg-blue-700 active:bg-blue-800 focus:outline-none focus:ring focus:ring-blue-400" onclick="copyToClipboard('partner-id')">copy</button>
  </div>
  <div class="flex items-center mb-2">
    <label class="w-1/3 block text-sm font-medium text-gray-900 dark:text-gray-300" for="partner-client-id">Client ID</label>
    <input class="w-1/2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2 dark:bg-gray-700 dark:border-gray-600 dark:text-white font-mono" id="partner-client-id" value="{{ partner_client_id }}" disabled>
    <button type="button" class="h-8 w-1/6 p-1 mx-1 bg-blue-600 text-white rounded-lg block uppercase text-xs hover:bg-blue-700 active:bg-blue-800 focus:outline-none focus:ring focus:ring-blue-400" onclick="copyToClipboard('partner-client-id')">copy</button>
  </div>
  <div class="flex items-center mb-2">
    <label class="w-1/3 block text-sm font-medium text-gray-900 dark:text-gray-300" for="merchant-id" >Merchant ID</label>
    <input class="w-1/2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white font-mono" id="merchant-id" value="{{ payee_id }}" disabled>
    <button type="button" class="h-8 w-1/6 p-1 mx-1 bg-blue-600 text-white rounded-lg block uppercase text-xs hover:bg-blue-700 active:bg-blue-800 focus:outline-none focus:ring focus:ring-blue-400" onclick="copyToClipboard('merchant-id')">copy</button>
  </div>

  <fieldset>
    <legend class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Intent</legend>

    <div class="flex items-center mb-2">
      <input id="intent-capture" type="radio" name="intent" value="CAPTURE" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600" checked>
      <label for="intent-capture" class="block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
        Capture
      </label>
    </div>

    <div class="flex items-center mb-2">
      <input id="intent-authorize" type="radio" name="intent" value="AUTHORIZE" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600">
      <label for="intent-authorize" class="block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
        Authorize
      </label>
    </div>
  </fieldset>
  <fieldset>
    <legend class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Shipping</legend>

    <div class="flex items-center mb-2">
      <input id="shipping-get" type="radio" name="shipping-preference" value="GET_FROM_FILE" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600" checked>
      <label for="shipping-get" class="block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300 font-mono">
        GET_FROM_FILE
      </label>
    </div>

    <div class="flex items-center mb-2">
      <input id="shipping-no" type="radio" name="shipping-preference" value="NO_SHIPPING" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600">
      <label for="shipping-no" class="block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300 font-mono">
        NO_SHIPPING
      </label>
    </div>
  </fieldset>
  <fieldset>
    <legend class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Purchase unit info</legend>

    <div class="flex items-center mb-2">
      <label for="price" class="w-1/2 block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
        Price
      </label>
      <input id="price" type="number" name="price" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-1 px-2 text-gray-700 leading-none focus:outline-none focus:bg-white focus:border-blue-500" value="3.14">
    </div>

    <div class="flex items-center mb-2">
      <label for="reference-id" class="w-1/2 block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
        Reference ID
      </label>
      <input id="reference-id" type="text" name="reference-id" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-1 px-2 text-gray-700 leading-none focus:outline-none focus:bg-white focus:border-blue-500" value="default">
    </div>

    <div class="flex items-center mb-2">
      <label for="partner-fee" class="w-1/2 block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
        Partner fee
      </label>
      <input id="partner-fee" type="number" name="partner-fee" value="0" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-1 px-2 text-gray-700 leading-none focus:outline-none focus:bg-white focus:border-blue-500">
    </div>
  </fieldset>
</form>
{% endblock %}



{% block right_col %}
<script>
  function getOptions() {
    var formData = new FormData(document.getElementById('options-form'));
    var formOptions = Object.fromEntries(formData);
    formOptions['merchant-id'] = document.getElementById('merchant-id').value;
    formOptions['partner-id'] = document.getElementById('partner-id').value;
    return formOptions
  }
  const root = document.querySelector(".tabs");
  const btns = root.querySelectorAll(".btn");
  const tabs = root.querySelectorAll(".tab");
  root.onclick = function(e) {
    var t = e.target;
    var val = t.getAttribute("tab");
    if(val != null){
      btns.forEach(each=>{each.classList.add("hidden");});
      tabs.forEach(each=>{each.classList.add("hidden");});

      btns[val - 1].classList.remove("hidden");
      tabs[val - 1].classList.remove("hidden");
    }
  }
</script>

<div class="tabs mx-auto text-indigo-800 m-10" style="max-width:450px;">
  <div class="top flex text-gray-100 rounded-t-md overflow-hidden">
    <div class="header p-2 px-3 bg-indigo-800 w-full font-semibold uppercase">Tabs</div>
    <div class="buttons ml-auto my-auto flex">
      <span tab="1" class="btn bg-indigo-800 cursor-pointer p-2 px-3">One</span>
      <span tab="2" class="btn bg-indigo-800 cursor-pointer p-2 px-3">Two</span>
      <span tab="3" class="btn bg-indigo-800 cursor-pointer p-2 px-3">Three</span>
      <span tab="4" class="btn bg-indigo-800 cursor-pointer p-2 px-3">Four</span>
      <span tab="5" class="btn bg-indigo-800 cursor-pointer p-2 px-3">Five</span>
    </div>
  </div>
  <div class="center text-gray-800 relative">
<!-- tab start -->
   <div class="tab bg-white rounded-b-md w-full border border-t-0 absolute top-0">
      <p class="text-xl p-3 px-5 font-semibold">Wellcome To Tab 1</p>
      <div class="p-3 px-5">
        <div class="long-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita rem dolore ut numquam fugiat, accusantium consequatur ratione nesciunt magnam quibusdam necessitatibus dolorum velit. Quia illo autem adipisci cupiditate. Repellendus!</div>
        <br>
        <div tab="2" class="oint text-sm my-4 p-2 px-4 cursor-pointer font-semibold inline-block bg-indigo-800 rounded-sm text-indigo-100">Go Next Tab</div>
      </div>     
   
   </div>
<!--     tab end -->
   <div class="tab bg-white rounded-b-md w-full border border-t-0 absolute top-0">
      <p class="text-xl p-3 px-5 font-semibold">Wellcome To Tab 2</p>
      <div class="p-3 px-5">
        <div class="long-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita rem dolore ut numquam fugiat, accusantium consequatur ratione nesciunt magnam quibusdam necessitatibus dolorum velit. Quia illo autem adipisci cupiditate. Repellendus!</div>
        <br>
        <div tab="3" class="oint text-sm my-4 p-2 px-4 cursor-pointer font-semibold inline-block bg-indigo-800 rounded-sm text-indigo-100">Go Next Tab</div>
      </div>     
   
   </div>
<!--     tab end -->
   <div class="tab bg-white rounded-b-md w-full border border-t-0 absolute top-0">
      <p class="text-xl p-3 px-5 font-semibold">Wellcome To Tab 3</p>
      <div class="p-3 px-5">
        <div class="long-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita rem dolore ut numquam fugiat, accusantium consequatur ratione nesciunt magnam quibusdam necessitatibus dolorum velit. Quia illo autem adipisci cupiditate. Repellendus!</div>
        <br>
        <div tab="4" class="oint text-sm my-4 p-2 px-4 cursor-pointer font-semibold inline-block bg-indigo-800 rounded-sm text-indigo-100">Go Next Tab</div>
      </div>     
   
   </div>
<!--     tab end -->
   <div class="tab bg-white rounded-b-md w-full border border-t-0 absolute top-0">
      <p class="text-xl p-3 px-5 font-semibold">Wellcome To Tab 4</p>
      <div class="p-3 px-5">
        <div class="long-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita rem dolore ut numquam fugiat, accusantium consequatur ratione nesciunt magnam quibusdam necessitatibus dolorum velit. Quia illo autem adipisci cupiditate. Repellendus!</div>
        <br>
        <div tab="5" class="oint text-sm my-4 p-2 px-4 cursor-pointer font-semibold inline-block bg-indigo-800 rounded-sm text-indigo-100">Go Next Tab</div>
      </div>     
   
   </div>
<!--     tab end -->
   <div class="tab bg-white rounded-b-md w-full border border-t-0 absolute top-0">
      <p class="text-xl p-3 px-5 font-semibold">Wellcome To Tab 5</p>
      <div class="p-3 px-5">
        <div class="long-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus expedita rem dolore ut numquam fugiat, accusantium consequatur ratione nesciunt magnam quibusdam necessitatibus dolorum velit. Quia illo autem adipisci cupiditate. Repellendus!</div>
      </div>     
   
   </div>
<!--     tab end -->




  </div>
</div>

<!-- <ul class="nav nav-tabs flex flex-col md:flex-row flex-wrap list-none border-b-0 pl-0 mb-4" id="tabs-tab3"
  role="tablist">
  <li class="nav-item" role="presentation">
    <a href="#tabs-home3" class="
      nav-link
      w-full
      block
      font-medium
      text-xs
      leading-tight
      uppercase
      border-x-0 border-t-0 border-b-2 border-transparent
      px-6
      py-3
      my-2
      hover:border-transparent hover:bg-gray-100
      focus:border-transparent
      active
    " id="tabs-home-tab3" data-bs-toggle="pill" data-bs-target="#tabs-home3" role="tab" aria-controls="tabs-home3"
      aria-selected="true">Home</a>
  </li>
  <li class="nav-item" role="presentation">
    <a href="#tabs-profile3" class="
      nav-link
      w-full
      block
      font-medium
      text-xs
      leading-tight
      uppercase
      border-x-0 border-t-0 border-b-2 border-transparent
      px-6
      py-3
      my-2
      hover:border-transparent hover:bg-gray-100
      focus:border-transparent
    " id="tabs-profile-tab3" data-bs-toggle="pill" data-bs-target="#tabs-profile3" role="tab"
      aria-controls="tabs-profile3" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item" role="presentation">
    <a href="#tabs-messages3" class="
      nav-link
      w-full
      block
      font-medium
      text-xs
      leading-tight
      uppercase
      border-x-0 border-t-0 border-b-2 border-transparent
      px-6
      py-3
      my-2
      hover:border-transparent hover:bg-gray-100
      focus:border-transparent
    " id="tabs-messages-tab3" data-bs-toggle="pill" data-bs-target="#tabs-messages3" role="tab"
      aria-controls="tabs-messages3" aria-selected="false">Messages</a>
  </li>
</ul>
<div class="tab-content" id="tabs-tabContent3">
  <div class="tab-pane fade show active" id="tabs-home3" role="tabpanel" aria-labelledby="tabs-home-tab3">
    Tab 1 content button version
  </div>
  <div class="tab-pane fade" id="tabs-profile3" role="tabpanel" aria-labelledby="tabs-profile-tab3">
    Tab 2 content button version
  </div>
  <div class="tab-pane fade" id="tabs-messages3" role="tabpanel" aria-labelledby="tabs-profile-tab3">
    Tab 3 content button version
  </div>
</div> -->

<!-- <ul class="nav nav-tabs flex flex-col md:flex-row flex-wrap list-none border-b-0 pl-0 mb-4" id="tabs-tab"
  role="tablist">
  <li class="nav-item" role="presentation">
    <a href="#tabs-checkout" class="
      nav-link
      block
      font-medium
      text-xs
      leading-tight
      uppercase
      border-x-0 border-t-0 border-b-2 border-transparent
      px-6
      py-3
      my-2
      hover:border-transparent hover:bg-gray-100
      focus:border-transparent
      active
    " id="tabs-checkout-tab" data-bs-toggle="pill" data-bs-target="#tabs-checkout" role="tab" aria-controls="tabs-checkout"
      aria-selected="true">Checkout!</a>
  </li>
  <li class="nav-item" role="presentation">
    <a href="#tabs-api-calls" class="
      nav-link
      block
      font-medium
      text-xs
      leading-tight
      uppercase
      border-x-0 border-t-0 border-b-2 border-transparent
      px-6
      py-3
      my-2
      hover:border-transparent hover:bg-gray-100
      focus:border-transparent
    " id="tabs-api-calls-tab" data-bs-toggle="pill" data-bs-target="#tabs-api-calls" role="tab"
      aria-controls="tabs-api-calls" aria-selected="false">API Calls!</a>
  </li>
</ul>
<div class="tab-content" id="tabs-tabContent">
  <div class="tab-pane fade show active" id="tabs-checkout" role="tabpanel" aria-labelledby="tabs-checkout-tab">
    Tab 1 content
  </div>
  <div class="tab-pane fade" id="tabs-api-calls" role="tabpanel" aria-labelledby="tabs-api-calls-tab">
    Tab 2 content
  </div>
</div> -->

{% endblock %}