{% extends "checkout-base.html" %}

{% block right_col %}
{{ super() }}

<!-- Empty (for now) button container -->
<div class="smart-button-container", id="smart-button-container">
  <div style="text-align: center;">
    <div id="paypal-button-container"></div>
  </div>
</div>

<!-- Import PayPal Javascript SDK with Partner's credentials -->
<script src="https://www.paypal.com/sdk/js?client-id={{ partner_client_id }}&merchant-id={{ payee_id }}&currency=USD&intent=capture&commit=true&enable-funding=venmo,paylater&debug=true" data-partner-attribution-id="{{ bn_code }}"></script>

<script>
  var orderId;
  function initPayPalButton() {
    paypal.Buttons({
      createOrder: function (data, actions) {
        console.log("Getting form info...");
        var options = getOptions();
        console.log("Creating the order...")
        return fetch('/api/orders/create-form', {
          headers: {'Content-Type': 'application/json'},
          method: 'POST',
          body: JSON.stringify(options)
        }).then(function(res) {
          return res.json();
        }).then(function(data) {
          orderId = data.id;
          return orderId;
        })
      },
      onApprove: function(data, actions) {
        return fetch('/api/orders/capture/' + data.orderID, {
          method: 'POST',
        }).then(function(res) {
          return res.json();
        }).then(function(captureData) {
          // Your server response structure and key names are what you choose
          if (captureData.error === 'INSTRUMENT_DECLINED') {
            return actions.restart();
          }
        })
      },
    }).render('#paypal-button-container');
  }
  initPayPalButton();
</script>

{% endblock %}