{% extends "checkout-base.html" %}

{% block checkout %}
<!-- Empty (for now) button container -->
<div class="smart-button-container", id="smart-button-container">
  <div style="text-align: center;">
    <div id="paypal-button-container"></div>
  </div>
</div>

<script>
  let billingAgreementToken;
  let billingAgreementID;
  let options;
  let orderID;
  function initPayPalButton() {
    paypal.Buttons({
      createBillingAgreement: function (data, actions) {
        console.log("Creating billing agreement token...")
        return fetch('/api/billing-form/create-billing-agreement-token', {
          headers: {'Content-Type': 'application/json'},
          method: 'POST',
        }).then(function(res) {
          return res.json();
        }).then(function(createData) {
          updateAPICalls(createData.formatted);
          if (createData.tokenId === null) {
            alert("No BA token ID returned! Is CIB enabled on both the API caller and merchant accounts?")
          } else {
            billingAgreementToken = createData.tokenId;
            document.getElementById('ba-token').value = billingAgreementToken;
            return billingAgreementToken;
          }
        })
      },
      onApprove: function (data, actions) {
        console.log("Creating billing agreement...")
        options = getOptions();
        return fetch('/api/billing-form/create-billing-agreement', {
          headers: {'Content-Type': 'application/json'},
          method: 'POST',
          body: JSON.stringify(options),
        }).then(function(res) {
          return res.json();
        }).then(function(createData) {
          updateAPICalls(createData.formatted);
          billingAgreementID = createData.billingAgreementID;
          document.getElementById('ba-id').value = billingAgreementID;
          return billingAgreementID;
        })
      },
      onError: function (data, actions) {
        alert("An error with the JS SDK occurred! Check the console for more information.");
      },
    }).render('#paypal-button-container');
  }
  initPayPalButton();
</script>
{% endblock %}