<article>
  <script>
    function submitOrder() {
      return fetch('/api/orders/not-present', {
        headers: {'Content-Type': 'application/json'},
        method: 'POST',
        body: JSON.stringify({
          customer_id: "{{ customer_id }}",
          price: "{{ product['price'] }}", 
          payee_id: "{{ payee_id }}"
        })
      }).then(function(res) {
        return res.json();
      }).then(function(captureData) {
        console.log('data: ' + JSON.stringify(captureData));
        window.location.replace("/store/order-details/" + captureData.id);
      })
    }
  </script>
  <body>
    
    <!-- Information about the product -->
    <h1>Product Page</h1>
    <p>Product name: {{ product['name'] }}</p>
    <p>Price: ${{ product['price'] }}</p>
    <p>Description: {{ product['description'] }}</p> 

    <button onclick="submitOrder()">Submit</button>
  </body>
</article>