<article>
  <body>
    
    <!-- Information about the product -->
    <h1>Product Page</h1>
    <p>Product name: {{ product['name'] }}</p>
    <p>Price: ${{ product['price'] }}</p>
    <p>Description: {{ product['description'] }}</p> 

    <!-- Empty (for now) button container -->
    <div class="smart-button-container", id="smart-button-container">
      <div style="text-align: center;">
        <div id="paypal-button-container"></div>
      </div>
    </div>
    
    <!-- Import PayPal Javascript SDK with Partner's credentials -->
    <script src="https://www.paypal.com/sdk/js?client-id={{ partner_client_id }}&merchant-id={{ payee_id }}&currency=USD&intent=capture&commit=true&vault=true" data-partner-attribution-id="{{ bn_code }}" data-client-token="{{ client_token }}"></script>

    <script>
      var orderID;
      function openDetails() {
        window.open("http://localhost:5000/store/order-details/" + orderID, '_blank').focus();
        // window.location.replace("/store/order-details/" + data.orderID);
      }
      function initPayPalButton() {
        paypal.Buttons({
          createOrder: function(data, actions) {
            return fetch('/api/orders/create-vault', {
              headers: {'Content-Type': 'application/json'},
              method: 'POST',
              body: JSON.stringify({
                price: "{{ product['price'] }}", 
                payee_id: "{{ payee_id }}", 
                customer_id: "{{ customer_id }}", 
              })
            }).then(function(res) {
              return res.json();
            }).then(function(data) {
              orderID = data.id;
              return data.id;
            })
          },
          onApprove: function(data, actions) {
            return fetch('/api/orders/capture/' + data.orderID, {
              method: 'POST',
            }).then(function(res) {
              return res.json();
            }).then(function(captureData) {
              // Your server response structure and key names are what you choose
              if (captureData.error === 'INSTRUMENT_DECLINED') {
                return actions.restart();
              } else {
                console.log('Done!');
              }
            })
          },
        }).render('#paypal-button-container');
      }
      initPayPalButton();
    </script>

    <button onclick="openDetails()">Details</button>
  </body>
</article>