{% extends 'base.html' %}

{% block head %}

{{ super() }}

<script src="{{ url_for('static', filename='checkout.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom-purchase-unit.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vault.css') }}"/>

{% endblock head %}

{% block other_options %}
{% include 'checkout-options.html' %}
{% endblock other_options %}

{% block right_col %}
<nav id='top-level-nav' role="tabset">
  <input type=radio id="input-checkout" name="nav-tabs" checked/>
  <label for="input-checkout">Checkout</label>

  <input type=radio id="input-api-calls" name="nav-tabs"/>
  <label for="input-api-calls">API Calls</label>
</nav>
<div id="div-checkout">
  <script id="paypal-js-sdk"></script>
  {% block checkout_div %}
  {% endblock checkout_div %}
</div>
<div id="div-api-calls">
  <nav role="tabset">
    <ol id="api-calls-buttons"></ol>
  </nav>
</div>
{% endblock %}