{% extends 'checkout.html' %}

{% block other_options %}
<fieldset id="hosted-v2-options">
  <details open>
    <summary>
      <span>
        <legend>
          Hosted Fields v2 options
        </legend>
      </span>
    </summary>
    <div>
      <label for="3ds-preference">
        3D-Secure (3DS)
      </label>
      <select name="3ds-preference" id="3ds-preference">
        <option value="" selected>None</option>
        <option value="SCA_WHEN_REQUIRED">When required</option>
        <option value="SCA_ALWAYS">Always</option>
      </select>
    </div>
  </details>
</fieldset>
{{ super() }}
{% endblock other_options %}

{% block checkout_div %}
<script type="module">
  import {
    setOptions,
    getOptions,
    loadOptions,
    saveOptionsAndReloadPage
  } from "{{ url_for('static', filename='utils.js') }}";
  import {
    setupEventListeners,
    buildScriptElement
  } from "{{ url_for('static', filename='checkout.js') }}";
  import loadHostedFieldsV2 from "{{ url_for('static', filename='checkout-hf-v2.js') }}";
  import buyerNotPresentCheckout from "{{ url_for('static', filename='checkout-buyer-not-present.js') }}";
  window.addEventListener('load', async function () {
    const options = loadOptions()
    window.sessionStorage.clear()
    setOptions(options)

    buildScriptElement(loadHostedFieldsV2, 'hosted-fields-v2')
    setupEventListeners(() => {
      buildScriptElement(loadHostedFieldsV2, 'hosted-fields-v2')
    })

    document.getElementById('buyer-not-present-checkout').addEventListener('click', buyerNotPresentCheckout)
  })
</script>
<div>
  <form id="hf-v2-form">
    <label for="card-number">Card Number</label>
    <div id="card-number"></div>

    <label for="expiration-date">Expiration Date</label>
    <div id="expiration-date"></div>

    <label for="cvv">CVV</label>
    <div id="cvv"></div>

    <label for="cardholder-name">Name on Card</label>
    <input type="text" form="options-form" id="cardholder-name" name="cardholder-name" placeholder="Card holder name"/>
    <label>Billing Address</label>
    <input type="text" form="options-form" id="billing-address-line-1" name="billing-address-line-1" placeholder="Street address"/>
    <input type="text" form="options-form" id="billing-address-line-2" name="billing-address-line-2" placeholder="Unit"/>
    <input type="text" form="options-form" id="billing-address-admin-area-1" name="billing-address-admin-area-1" placeholder="City"/>
    <input type="text" form="options-form" id="billing-address-admin-area-2" name="billing-address-admin-area-2" placeholder="State"/>
    <input type="text" form="options-form" id="billing-address-postal-code" name="billing-address-postal-code" placeholder="Postal code"/>
    <input type="text" form="options-form" id="billing-address-country-code" name="billing-address-country-code" placeholder="Country code"/>

    <button value="submit" id="pay-button">Pay</button>
  </form>
</div>
{% endblock checkout_div %}
