<article>
  <body>
    
    <!-- Information about the product -->
    <h1>Product Page</h1>
    <p>Product name: {{ product['name'] }}</p>
    <p>Price: ${{ product['price'] }}</p>
    <p>Description: {{ product['description'] }}</p> 

    <!-- Empty (for now) button container -->
    <div class="smart-button-container", id="smart-button-container">
      <div style="text-align: center;">
        <div id="paypal-button-container"></div>
      </div>
    </div>
    
    <!-- Import PayPal Javascript SDK with Partner's credentials -->
    <script src="https://www.paypal.com/sdk/js?client-id={{ partner_client_id }}&merchant-id={{ payee_id }}&currency=USD&intent=capture&commit=false" data-partner-attribution-id="{{ bn_code }}"></script>

    <script>
      function initPayPalButton() {
        paypal.Buttons({
          createOrder: function(data, actions) {
            return fetch('/api/create-order', {
              headers: {'Content-Type': 'application/json'},
              method: 'POST',
              body: JSON.stringify({
                price: "{{ product['price'] }}", 
                payee_id: "{{ payee_id }}", 
                include_shipping: true, 
              })
            }).then(function(res) {
              return res.json();
            }).then(function(data) {
              return data.id;
            })
          },
          onApprove: function(data, actions) {
            return fetch('/api/capture-order/' + data.orderID, {
              headers: {'Content-Type': 'application/json'},
              method: 'POST',
            }).then(function(res) {
              return res.json();
            }).then(function(captureData) {
              // Your server response structure and key names are what you choose
              if (captureData.error === 'INSTRUMENT_DECLINED') {
                return actions.restart();
              } else {
                window.location.replace("/store/order-details/" + data.orderID);
              }
            });
          },
          onShippingChange: function(data, actions) {
            console.log("Shipping address: ", data.shipping_address);
            console.log("Selected shipping option: ", data.selected_shipping_option);
            return fetch('/api/determine-shipping', {
              headers: {'Content-Type': 'application/json'},
              method: 'GET',
            }).then(function(res) {
              return res.json();
            }).then(function (options) {
              // In sandbox, actions.order.patch occaisionally fails to result in updated shipping options.
              actions.order.patch([
                {
                  op: 'add',
                  path: '/purchase_units/@reference_id==\'default\'/shipping/options',
                  value: options
                }
              ]);
            });
          }
        }).render('#paypal-button-container');
      }
      initPayPalButton();
    </script>
  </body>
</article>