{% extends "deprecated-base.html" %}
{% block controls %}
<a href="/"
  id="a-details"
  target="_blank"
  class="px-2 py-1 bg-blue-700 rounded-lg text-white hover:underline"
  style="display: none">
  Order details
</a>
{% endblock %}

{% block checkout %}
<!-- Empty (for now) button container -->
<div class="smart-button-container", id="smart-button-container">
  <div style="text-align: center;">
    <div id="paypal-button-container"></div>
  </div>
</div>

<!-- Import PayPal Javascript SDK with Partner's credentials -->
<script src="https://www.paypal.com/sdk/js?client-id={{ partner_client_id }}&merchant-id={{ payee_id }}&currency=USD&intent=tokenize&commit=true&enable-funding=venmo,paylater&debug=true&vault=true" data-partner-attribution-id="{{ bn_code }}"></script>

<script>
  var orderId;
  function initPayPalButton() {
    paypal.Buttons({
      style: {
        label: 'donate',
      },
      createBillingAgreement: function (data, actions) {
        console.log("Creating billing agreement...")
        return fetch('/api/orders/create-billing-agreement-token', {
          headers: {'Content-Type': 'application/json'},
          method: 'POST',
        }).then(function(res) {
          return res.json();
        }).then(function(data) {
          let billingAgreementToken = data.token_id;
          return billingAgreementToken;
        })
      },
    }).render('#paypal-button-container');
  }
  initPayPalButton();
</script>
{% endblock %}