{% extends "checkout-base.html" %}

<!-- {% block head %}

{{ super() }}

<script id="script-orders">
  function orderClosure() {
    let orderID
    async function createOrder() {
      const options = getOptions()
      const response = await fetch('/api/orders-form/create', {
        headers: {'Content-Type': 'application/json'},
        method: 'POST',
        body: JSON.stringify(options)
      })
      const responseJson = await response.json()
      updateAPICalls(responseJson.formatted)
      orderID = responseJson.orderID
    }
    async function captureOrder() {
      const options = getOptions()
      const response = await fetch(`/api/orders-form/capture/${orderID}`, {
        headers: {'Content-Type': 'application/json'},
        method: 'POST',
        body: JSON.stringify(options)
      })
      const responseJson = await response.json()
      updateAPICalls(responseJson.formatted)
    }
    function progressOrder() {
      if (typeof orderID === 'undefined') {
        createOrder()
      } else {
        captureOrder()
      }
    }
    return progressOrder
  }

</script>

{% endblock %} -->

{% block foot %}

{{ super() }}

<script id="script-onchange-reload">
  const intent = document.getElementById('intent')
  intent.value = 'TOKENIZE';

  (function addOnChange() {
    const elementIDs = [
      'intent',
    ]
    for (const elementID of elementIDs) {
      const element = document.getElementById(elementID)
      element.addEventListener('change', (event) => {
        reloadCheckout()
      })
    }
  })();
</script>
{% endblock %}

{% block checkout %}
<!-- Empty (for now) button container -->
<div id="paypal-button-wrapper" class="text-center">
  <div id="paypal-button-container"></div>
</div>

<script>
  let billingAgreementToken
  let billingAgreementID
  let orderID
  let options
  function checkoutClosure() {
    let buttons
    async function loadCheckout() {
      buttons = await paypal.Buttons({
        createBillingAgreement: function (data, actions) {
          console.log("Creating billing agreement token...")
          return fetch('/api/billing-form/create-billing-agreement-token', {
            headers: {'Content-Type': 'application/json'},
            method: 'POST',
          }).then(function(res) {
            return res.json();
          }).then(function(createData) {
            updateAPICalls(createData.formatted);
            if (createData.tokenId === null) {
              alert("No BA token ID returned! Is CIB enabled on both the API caller and merchant accounts?")
            } else {
              billingAgreementToken = createData.tokenId;
              document.getElementById('ba-token').value = billingAgreementToken;
              return billingAgreementToken;
            }
          })
        },
        onApprove: function (data, actions) {
          console.log("Creating billing agreement...")
          options = getOptions();
          return fetch('/api/billing-form/create-billing-agreement', {
            headers: {'Content-Type': 'application/json'},
            method: 'POST',
            body: JSON.stringify(options),
          }).then(function(res) {
            return res.json();
          }).then(function(createData) {
            updateAPICalls(createData.formatted);
            billingAgreementID = createData.billingAgreementID;
            document.getElementById('ba-id').value = billingAgreementID;
            return billingAgreementID;
          })
        },
        onError: function (data, actions) {
          alert("An error with the JS SDK occurred! Check the console for more information.");
        },
      })
      return buttons
      .render('#paypal-button-container')
      .catch((err) => {
        console.log("Caught an error while rendering checkout:", err)
      })
    }
    async function reloadMyCheckout() {
      await buttons.close()
      await buildScriptElement(function() {
        resetCheckoutContainer()
        loadCheckout()
      })
    }
    buildScriptElement(loadCheckout)
    return reloadMyCheckout
  }
  const reloadCheckout = checkoutClosure()
  // const progressOrder = orderClosure()
</script>
<!-- <button onclick="progressOrder()">
  Create Order
</button>
<button onclick="progressOrder()">
  Capture Order
</button> -->
{% endblock %}