{% extends "checkout-base.html" %}

{% block checkout %}
<!-- Empty (for now) button container -->
<div id="paypal-button-wrapper" class="text-center">
  <div id="paypal-button-container"></div>
</div>

<script>
  let orderID;
  let options;
  let fundingSource;
  function resetWrapper() {
    const containerID = 'paypal-button-container'
    let wrapper = document.getElementById('paypal-button-wrapper')
    wrapper.innerHTML = ""
    
    const div = document.createElement('div')
    div.setAttribute('id', containerID)
    wrapper.appendChild(div)
    // let oldContainer = document.getElementById(containerID)
    
    // const newContainer = document.createElement('div')
    // newContainer.setAttribute('id', containerID)
    // oldContainer.replaceWith(newContainer)
  }
  function buttonClosure() {
    let buttons;
    function loadButtons() { 
      buttons = paypal.Buttons({
        onClick: function (data) {
          fundingSource = data.fundingSource;
          console.log("fundingSource = " + fundingSource)
        },
        createOrder: function (data, actions) {
          console.log("Getting form info...")
          options = getOptions()
          console.log("Creating the order...")
          return fetch('/api/orders-form/create', {
            headers: {'Content-Type': 'application/json'},
            method: 'POST',
            body: JSON.stringify(options)
          }).then(function(res) {
            return res.json()
          }).then(function(createData) {
            updateAPICalls(createData.formatted)
            orderID = createData.orderID
            return orderID;
          })
        },
        onApprove: function(data, actions) {
          return fetch('/api/orders-form/capture/' + data.orderID, {
            headers: {'Content-Type': 'application/json'},
            method: 'POST',
            body: JSON.stringify(options)
          }).then(function(res) {
            return res.json();
          }).then(function(captureData) {
            console.log("captureData: " + JSON.stringify(captureData))
            updateAPICalls(captureData.formatted)
            // Your server response structure and key names are what you choose
            if (captureData.error === 'INSTRUMENT_DECLINED') {
              return actions.restart()
            }
          })
        },
      })
      buttons
      .render('#paypal-button-container')
      .then(() => {
        console.log("Just rendered!")
      })
      .catch((e) => {
        console.log("Caught error: " + e)
      })
    }
    
    function reloadButtonsFunc() {
      buttons.close()
      buildScriptTag()
      setTimeout(resetWrapper, 2000)
      setTimeout(loadButtons, 4000)
    }
    loadButtons()
    return reloadButtonsFunc
  }
  const reloadButtons = buttonClosure()
</script>
{% endblock %}