<fieldset id="vault-options">
  <details open>
    <summary>
      <legend>
        Vault v3 options
      </legend>
    </summary>
    <div>
      <label for="vault-flow">
        Flow
      </label>
      <select name="vault-flow" id="vault-flow">
        <option value="" selected>None</option>
        <option value="first-time-buyer">First-time buyer</option>
        <option value="return-buyer">Return buyer</option>
        <option value="buyer-not-present">Buyer not present</option>
      </select>
    </div>
    <div class="first-time-buyer return-buyer buyer-not-present">
      <label for="vault-level">
        Vault level
      </label>
      <select name="vault-level" id="vault-level">
        <option value="PLATFORM" selected>Partner-level</option>
        <option value="MERCHANT">Merchant-level</option>
      </select>
    </div>
    <div class="first-time-buyer return-buyer">
      <label for="vault-without-purchase">
        Vault without purchase
      </label>
      <input type="checkbox" name="vault-without-purchase" id="vault-without-purchase"/>
    </div>
    <div class="return-buyer">
      <label for="customer-id">
        Customer ID
      </label>
      <input name="customer-id" id="customer-id" class="monospaced"/>
    </div>
    <div class="buyer-not-present">
      <label for="vault-id">
        Vault ID
      </label>
      <input name="vault-id" id="vault-id" class="monospaced"/>
    </div>
    <div class="buyer-not-present">
      <label for="vault-payment-source" class="buyer-not-present">
        Payment source
      </label>
      <div>
        <select name="vault-payment-source" id="vault-payment-source">
          <option value="paypal" selected>PayPal</option>
          <option value="card">Card</option>
        </select>
        <button type="button" class="action" id="buyer-not-present-checkout">Pay</button>
      </div>
    </div>
  </details>
</fieldset>
<fieldset id="hosted-v1-options">
  <legend>
    Hosted Fields v1 options
  </legend>
  <div>
    <label for="3ds-preference">
      3D-Secure (3DS)
    </label>
    <select name="3ds-preference" id="3ds-preference">
      <option value="SCA_WHEN_REQUIRED" selected>When required</option>
      <option value="SCA_ALWAYS">Always</option>
    </select>
  </div>
</fieldset>
<fieldset id="order-options">
  <legend>
    Order options
  </legend>
  <div>
    <label for="intent">
      Intent
    </label>
    <select name="intent" id="intent">
      <option value="CAPTURE" selected>Capture</option>
      <option value="AUTHORIZE">Authorize</option>
    </select>
  </div>
  <div>
    <label for="user-action">
      User Action
    </label>
    <select name="user-action" id="user-action">
      <option value="CONTINUE" selected>Continue</option>
      <option value="PAY_NOW">Pay Now</option>
    </select>
  </div>
  <div>
    <label for="shipping-preference">
      Shipping pref.
    </label>
    <select name="shipping-preference" id="shipping-preference">
      <option value="NO_SHIPPING" selected>No shipping</option>
      <option value="GET_FROM_FILE">Get from file</option>
      <option value="SET_PROVIDED_ADDRESS">Set provided address</option>
      <option value="">Unspecified</option>
    </select>
  </div>
  <div>
    <label for="ba-id">
      BA ID
    </label>
    <input name="ba-id" id="ba-id" class="monospaced"/>
  </div>
</fieldset>
<fieldset id="purchase-unit-options">
  <legend>
    Purchase unit options
  </legend>
  <div>
    <label for="reference-id">
      Reference ID
    </label>
    <input name="reference-id" id="reference-id" class="monospaced" placeholder="default" type="text"/>
  </div>
  <div>
    <label for="custom-id">
      Custom ID
    </label>
    <input name="custom-id" id="custom-id" class="monospaced" type="text"/>
  </div>
  <div>
    <label for="soft-descriptor">
      Soft descriptor
    </label>
    <input name="soft-descriptor" id="soft-descriptor" class="monospaced" type="text"/>
  </div>
  <div>
    <label for="partner-fee">
      Partner fee
    </label>
    <input name="partner-fee" id="partner-fee" class="monospaced" type="number" value="0"/>
  </div>
  <div>
    <label class="raised">
      Include:
    </label>
    <ul>
      <li>
        <input type="checkbox" name="include-shipping-address" id="include-shipping-address"/>
        <label for="include-shipping-address">Default shipping address</label>
      </li>
      <li>
        <input type="checkbox" name="include-shipping-option" id="include-shipping-option"/>
        <label for="include-shipping-option">Default shipping option</label>
      </li>
      <li>
        <input type="checkbox" name="include-custom-purchase-unit-field" id="include-custom-purchase-unit-field"/>
        <label for="include-custom-purchase-unit-field">Custom field</label>
      </li>
    </ul>
  </div>
  <div class="custom-purchase-unit-field">
    <label for="custom-purchase-unit-key">Key</label>
    <input name="custom-purchase-unit-key" id="custom-purchase-unit-key" class="monospaced" type="text"/>
  </div>
  <div class="custom-purchase-unit-field">
    <label for="custom-purchase-unit-value">JSON value</label>
    <input name="custom-purchase-unit-value" id="custom-purchase-unit-value" class="monospaced full" type="text"/>
  </div>
  </fieldset>
</fieldset>
<fieldset id="item-options">
  <legend>
    Item options
  </legend>
  <div>
    <label for="item-price">Price</label>
    <input name="item-price" id="item-price" class="monospaced" type="number" value="3.14"/>
  </div>
  <div>
    <label for="item-tax">Tax</label>
    <input name="item-tax" id="item-tax" class="monospaced" type="number" value="0"/>
  </div>
  <div>
    <label for="item-category">Category</label>
    <select name="item-category" id="item-category">
      <option value="None" selected>Unspecified</option>
      <option value="PHYSICAL_GOODS">Physical goods</option>
      <option value="DIGITAL_GOODS">Digital goods</option>
      <option value="DONATION">Donation</option>
    </select>
  </div>
  <div>
    <label for="disbursement-mode">Disbursement</label>
    <select name="disbursement-mode" id="disbursement-mode">
      <option value="INSTANT" selected>Instant</option>
      <option value="DELAYED">Delayed</option>
    </select>
  </div>
</fieldset>