{% extends "checkout-base.html" %}

{% block foot %}

{{ super() }}

<script>
  function getContingencies() {
    if (document.getElementById('3DS-always').checked) {
      return ["SCA_ALWAYS"];
    } else {
      return ["SCA_WHEN_REQUIRED"];
    }
  }
</script>
{% endblock %}

{% block additional_options %}
<fieldset>
  <legend class="block mb-2">
    3D Secure (<a href="https://developer.paypal.com/docs/checkout/advanced/customize/3d-secure/" target="_blank" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">docs</a>)
  </legend>
  <div class="flex items-center mb-2">
    <input id="3DS-when-required" type="radio" name="3DS" value="SCA_WHEN_REQURIED" class="
      w-4
      h-4
      ml-2
      border-zinc-300 dark:border-zinc-600
      focus:ring-2
      focus:ring-blue-300 dark:focus:ring-blue-600
      dark:bg-zinc-700
      dark:focus:bg-blue-600
    " checked>
    <label for="3DS-when-required" class="block ml-2">
      Disabled
    </label>
  </div>

  <div class="flex items-center mb-2">
    <input id="3DS-always" type="radio" name="3DS" value="SCA_ALWAYS" class="
      w-4
      h-4
      ml-2
      border-zinc-300 dark:border-zinc-600
      focus:ring-2
      focus:ring-blue-300 dark:focus:ring-blue-600
      dark:bg-zinc-700
      dark:focus:bg-blue-600
    ">
    <label for="3DS-always" class="block ml-2">
      Enabled
    </label>
  </div>
</fieldset>
{% endblock %}

{% block checkout %}

<!-- Sample CSS styles for demo purposes. You can override these styles to match your web page's branding. -->
<link rel="stylesheet" type="text/css" href="https://www.paypalobjects.com/webstatic/en_US/developer/docs/css/cardfields.css"/>

<!-- Advanced credit and debit card payments form-->
<div class="card_container">
  <form id="card-form">
    <div>
      <label for="card-number">Card Number</label>
      <div id="card-number" class="card_field"></div>
    </div>
    <div>
      <label for="expiration-date">Expiration Date</label>
      <div id="expiration-date" class="card_field"></div>
    </div>
    <div>
      <label for="cvv">CVV</label>
      <div id="cvv" class="card_field"></div>
    </div>
    <div>
      <label for="card-holder-name">Name on Card</label>
      <input type="text" id="card-holder-name" name="card-holder-name" autocomplete="off" placeholder="card holder name"/>
    </div>
    <div>
      <label for="card-billing-address-street">Billing Address</label>
      <input type="text" id="card-billing-address-street" name="card-billing-address-street" autocomplete="off" placeholder="street address"/>
    </div>
    <div>
      <label for="card-billing-address-unit"></label>
      <input type="text" id="card-billing-address-unit" name="card-billing-address-unit" autocomplete="off" placeholder="unit"/>
    </div>
    <div>
      <input type="text" id="card-billing-address-city" name="card-billing-address-city" autocomplete="off" placeholder="city"/>
    </div>
    <div>
      <input type="text" id="card-billing-address-state" name="card-billing-address-state" autocomplete="off" placeholder="state"/>
    </div>
    <div>
      <input type="text" id="card-billing-address-zip" name="card-billing-address-zip" autocomplete="off" placeholder="zip / postal code"/>
    </div>
    <div>
      <input type="text" id="card-billing-address-country" name="card-billing-address-country" autocomplete="off" placeholder="country code" />
    </div>
    <br/><br/>
    <button value="submit" id="submit" class="btn">Pay</button>
  </form>
</div>

<script>
  let orderId;
  let options;
  if (paypal.HostedFields.isEligible()) {
    // Renders card fields
    paypal.HostedFields.render({
      // Call your server to set up the transaction
      createOrder: function () {
        console.log("Getting form info...");
        options = getOptions();
        console.log("Creating the order...");
        return fetch('/api/orders-form/create', {
          headers: {'Content-Type': 'application/json'},
          method: 'POST',
          body: JSON.stringify(options)
        }).then(function(res) {
          return res.json();
        }).then(function(createData) {
          updateAPICalls(createData.formatted);
          orderId = createData.orderId;
          return orderId;
        });
      },
      styles: {
        '.valid': {'color': 'green'},
        '.invalid': {'color': 'red'}
      },

      fields: {
        number: {
          selector: "#card-number",
          placeholder: "4111 1111 1111 1111"
        },
        cvv: {
          selector: "#cvv",
          placeholder: "123"
        },
        expirationDate: {
          selector: "#expiration-date",
          placeholder: "MM/YY"
        }
      }
    }).then(function (cardFields) {
      document.querySelector("#card-form").addEventListener('submit', (event) => {
        event.preventDefault();

        cardFields.submit({
          // Cardholder's first and last name
          cardholderName: document.getElementById('card-holder-name').value,
          // Billing Address
          billingAddress: {
            streetAddress: document.getElementById('card-billing-address-street').value,
            extendedAddress: document.getElementById('card-billing-address-unit').value,
            region: document.getElementById('card-billing-address-state').value,
            locality: document.getElementById('card-billing-address-city').value,
            postalCode: document.getElementById('card-billing-address-zip').value,
            countryCodeAlpha2: document.getElementById('card-billing-address-country').value
          },
          // Trigger 3D Secure authentication
          contingencies: getContingencies()
        }).then(function () {
          fetch('/api/orders-form/capture/' + orderId, {
            headers: {'Content-Type': 'application/json'},
            method: 'POST',
            body: JSON.stringify(options)
          }).then(function(res) {
            return res.json();
          }).then(function (captureData) {
            console.log("captureData: " + JSON.stringify(captureData));
            updateAPICalls(captureData.formatted);

            var errorDetail = Array.isArray(captureData.details) && captureData.details[0];
            if (errorDetail && errorDetail.issue === 'INSTRUMENT_DECLINED') {
              return actions.restart(); // Recoverable state, per:
              // https://developer.paypal.com/docs/checkout/integration-features/funding-failure/
            }

            if (errorDetail) {
                var msg = 'Sorry, your transaction could not be processed.';
                if (errorDetail.description) msg += '\n\n' + errorDetail.description;
                if (captureData.debug_id) msg += ' (' + captureData.debug_id + ')';
                return alert(msg); // Show a failure message
            }
          })
        }).catch(function (err) {
          let errText = JSON.stringify(err, null, 4);
          let formattedCalls = {"sdk-error": errText};
          updateAPICalls(formattedCalls);
          alert('Payment could not be captured! ' + errText);
        });
      });
    });
  } else {
    alert('Partner or merchant is not eligible for ACDC!');
    // Hides card fields if the merchant isn't eligible
    document.querySelector("#card-form").style = 'display: none';
  }
</script>
{% endblock %}
