<article>
  <body>
    
    <!-- Information about the product -->
    <h1>Product Page</h1>
    <p>Product name: {{ product['name'] }}</p>
    <p>Price: ${{ product['price'] }}</p>
    <p>Description: {{ product['description'] }}</p> 

    <!-- Empty (for now) button container -->
    <div class="smart-button-container", id="smart-button-container">
      <div style="text-align: center;">
        <div id="paypal-button-container"></div>
      </div>
    </div>
    
    <!-- Import PayPal Javascript SDK with Partner's credentials -->
    <script src="https://www.paypal.com/sdk/js?client-id={{ partner_client_id }}&merchant-id={{ payee_merchant_id }}&currency=USD&intent=capture&commit=false" data-partner-attribution-id="{{ bn_code }}"></script>

    <script>
      function initPayPalButton() {
        paypal.Buttons({
          createOrder: function (data, actions) {
            console.log("Creating the order...")
            return fetch('/api/create-order', {
              headers: {'Content-Type': 'application/json'},
              method: 'POST',
              body: JSON.stringify({
                price: "{{ product['price'] }}", 
                payee_merchant_id: "{{ payee_merchant_id }}", 
                bn_code: "{{ bn_code }}"
              })
            }).then(function(res) {
              return res.json();
            }).then(function(data) {
              console.log("Order created!");
              return data.id;
            })
          },
          onApprove: function(data, actions) {
            return fetch('/api/capture-order', {
              headers: {'Content-Type': 'application/json'},
              method: 'POST',
              body: JSON.stringify({orderId: data.orderID})
            }).then(function(res) {
              return res.json();
            }).then(function(captureData) {
              // Your server response structure and key names are what you choose
              if (captureData.error === 'INSTRUMENT_DECLINED') {
                return actions.restart();
              } else {
                window.location.replace("/store/order-details/" + data.orderID);
              }
            })
          },
          onShippingChange: function(data, actions) {
            console.group();
            console.log("Shipping has been updated!");
            console.log("Current shipping address: ", data.shipping_address);
            console.log("Current shipping option: ", data.selected_shipping_option);
            console.groupEnd();

            console.log("Determining shipping options on the backend...");
            fetch('/api/determine-shipping', {
              headers: {'Content-Type': 'application/json'},
              method: 'POST',
              body: JSON.stringify({
                shipping_address: data.shipping_address,
                shipping_option: data.shipping_option,
              })
            }).then(function(res) {
              return res.json();
            }).then(function(responseData) {
              return responseData.options;
            }).then(function(shippingOptions) {
              console.log("Determined shipping option: ", shippingOptions);
              console.log("Replacing shipping options with the determined ones...");
              return actions.order.patch([
                {
                  op: "replace",
                  path: "/purchase_units/@reference_id=='default'/shipping/options",
                  value: shippingOptions
                }
              ]);
            });
          },
        }).render('#paypal-button-container');
      }
      initPayPalButton();
    </script>
  </body>
</article>