<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body class="bg-white dark:bg-zinc-900 text-sm font-medium text-zinc-700 dark:text-zinc-300">
    <div class="max-w-7xl mx-auto">
      <div class="grid grid-cols-4 gap-2">
        <div id="left-col" class="
          col-span-1
          ring-1
          p-2
          h-auto
          bg-zinc-50
          ring-zinc-900/5
          dark:bg-zinc-800
          dark:ring-zinc-100/5
        ">
          {% block left_col %}
          {% endblock %}
        </div>
        <div id="right-col" class="
          col-span-3
          ring-1
          p-2
          h-auto
          bg-zinc-50
          ring-zinc-900/5
          dark:bg-zinc-800
          dark:ring-zinc-100/5
        ">
          {% block right_col %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>