<!DOCTYPE html>
<html>
  <title>
    Alice - A PPCP Testing Tool
  </title>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body class="
  text-sm
  font-medium
  bg-white dark:bg-zinc-900
  text-zinc-700 dark:text-zinc-300
  ">
    <div class="max-w-7xl mx-auto">
      <div class="grid grid-cols-4 gap-2">
        <div id="left-col" class="
          col-span-1
          ring-1
          p-2
          space-y-4
          h-screen
          bg-zinc-50
          ring-zinc-900/5
          dark:bg-zinc-800
          dark:ring-zinc-100/5
        ">
          <h1 class="text-lg underline">
            Alice - A PPCP Testing Tool
          </h1>
          <nav class="ml-2 space-y-1">
            <a href="/partner-form/onboarding" class="
            block
            underline
            font-semibold
            text-blue-600 dark:text-blue-500
            ">
              Onboarding
            </a>
            <a href="/store-form/branded" class="
            block
            underline
            font-semibold
            text-blue-600 dark:text-blue-500
            ">
              Checkout - Branded
            </a>
          </nav>
          {% block left_col %}
          {% endblock %}
        </div>
        <div id="right-col" class="
          col-span-3
          ring-1
          p-2
          h-screen
          bg-zinc-50
          ring-zinc-900/5
          dark:bg-zinc-800
          dark:ring-zinc-100/5
        ">
          {% block right_col %}
          {% endblock %}
        </div>
      </div>
    </div>
    {% block foot %}
    {% endblock %}
  </body>
</html>