{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='onboarding.js') }}"></script>
<script src="https://www.paypal.com/webapps/merchantboarding/js/lib/lightbox/partner.js" async></script>
{% endblock %}

{% block merchant_id %}
<!--
  This overwrites the block in 'base.html' with this block's empty contents,
  removing the "Merchant ID" creds from the left column.
-->
{% endblock %}

{% block other_options %}
<fieldset id="onboarding-options">
  <details open>
    <summary>
      <legend>
        Referral options
      </legend>
    </summary>
    <div>
      <label class="raised">
        Features:
      </label>
      <ul>
        <li>
          <input name="feature-payment" id="feature-payment" type="checkbox" value="PAYMENT" checked/>
          <label for="feature-payment">Payment</label>
        </li>
        <li>
          <input name="feature-partner-fee" id="feature-partner-fee" type="checkbox" value="PARTNER_FEE" checked/>
          <label for="feature-partner-fee">Partner fee</label>
        </li>
        <li>
          <input name="feature-refund" id="feature-refund" type="checkbox" value="REFUND" checked/>
          <label for="feature-refund">Refund</label>
        </li>
        <li>
          <input name="feature-access-merchant-information" id="feature-access-merchant-information" type="checkbox" value="ACCESS_MERCHANT_INFORMATION"/>
          <label for="feature-access-merchant-information">Access merchant information</label>
        </li>
      </ul>
    </div>
    <div>
      <label for="product">
        Product
      </label>
      <select name="product" id="product">
        <option value="EXPRESS_CHECKOUT" selected>Branded only</option>
        <option value="PPCP">Branded + ACDC</option>
      </select>
    </div>
    <div>
      <label for="country-code">
        Country
      </label>
      <select name="country-code" id="country-code">
        <option value='' selected>None</option>
        <option value="BE">Belgium</option>
        <option value="CA">Canada</option>
        <option value="GB">Great Britain</option>
        <option value="IE">Ireland</option>
        <option value="MX">Mexico</option>
        <option value="US">United States</option>
      </select>
    </div>
    <div>
      <label for="include-legal-consents">
        Legal consents
      </label>
      <select name="include-legal-consents" id="include-legal-consents">
        <option value="include" selected>Include</option>
        <option value="">Exclude</option>
      </select>
    </div>
    <div>
      <label for="vault-level">
        Vault v3
      </label>
      <select name="vault-level" id="vault-level">
        <option value="" selected>None</option>
        <option value="MERCHANT">Merchant-level</option>
      </select>
    </div>
    <div>
      <label for="tracking-id">
        Tracking ID
      </label>
      <input name="tracking-id" id="tracking-id" class="monospaced"/>
    </div>
    <div>
      <label for="email">
        Email
      </label>
      <input name="email" id="email" class="monospaced"/>
    </div>
  </details>
</fieldset>
{% endblock %}


{% block right_col %}
<nav id='top-level-nav' role="tabset">
  <ol id="top-level-buttons">
    <li>
      <button id="button-onboarding" type="button" class="active" onclick="selectTab(event)">Onboarding</button>
    </li>
    <li>
      <button id="button-api-calls" type="button" class="inactive" onclick="selectTab(event)">API Calls</button>
    </li>
  </ol>
</nav>
<div id="tab-onboarding" class="active">
  <button id="create-referral" onclick="createReferral()" class="action">Create Referral</button>
  <a
    id="partner-referral"
    class="hidden"
    data-paypal-button="true"
    target="PPFrame"
  >Begin Onboarding</a>
</div>
<div id="tab-api-calls" class="inactive">
  <nav role="tabset">
    <ol id="api-calls-buttons"></ol>
  </nav>
</div>
{% endblock %}