{% extends 'base.html' %}

{% block head %}
<script async src="https://www.paypal.com/webapps/merchantboarding/js/lib/lightbox/partner.js"></script>
{% endblock %}

{% block merchant_id %}
<!--
  This overwrites the block in 'base.html' with this block's empty contents,
  removing the "Merchant ID" credential from the left column.
-->
{% endblock %}

{% block other_options %}
<fieldset id="referral-options">
  <details open>
    <summary>
      <span>
        <legend>
          Referral options
        </legend>
      </span>
    </summary>
    <div>
      <label for="product">
        Product
      </label>
      <select name="product" id="product">
        <option value="EXPRESS_CHECKOUT" selected>Branded only</option>
        <option value="PPCP">Branded + ACDC</option>
      </select>
    </div>
    <div>
      <label for="vault-level">
        Vault v3
      </label>
      <select name="vault-level" id="vault-level">
        <option value="" selected>None</option>
        <option value="PARTNER">Partner-level</option>
        <option value="MERCHANT">Merchant-level</option>
      </select>
    </div>
    <div>
      <label class="raised">
        APMs:
      </label>
      <ul>
        <li>
          <input name="apm-google-pay" id="apm-google-pay" type="checkbox" value="GOOGLE_PAY"/>
          <label for="apm-google-pay">Google Pay</label>
        </li>
      </ul>
    </div>
    <div>
      <label>
        Features:
      </label>
      <ul>
        <li>
          <input name="feature-payment" id="feature-payment" type="checkbox" value="PAYMENT" checked/>
          <label for="feature-payment">Payment</label>
        </li>
        <li>
          <input name="feature-partner-fee" id="feature-partner-fee" type="checkbox" value="PARTNER_FEE" checked/>
          <label for="feature-partner-fee">Partner fee</label>
        </li>
        <li>
          <input name="feature-refund" id="feature-refund" type="checkbox" value="REFUND" checked/>
          <label for="feature-refund">Refund</label>
        </li>
        <li>
          <input name="feature-access-merchant-information" id="feature-access-merchant-information" type="checkbox" value="ACCESS_MERCHANT_INFORMATION"/>
          <label for="feature-access-merchant-information">Access merchant information</label>
        </li>
      </ul>
    </div>
    <div>
      <label for="include-legal-consents">
        Legal consents
      </label>
      <select name="include-legal-consents" id="include-legal-consents">
        <option value="include" selected>Include</option>
        <option value="">Exclude</option>
      </select>
    </div>
    <div>
      <label for="tracking-id">
        Tracking ID
      </label>
      <input name="tracking-id" id="tracking-id" class="monospaced"/>
    </div>
    <div>
      <label for="partner-return-url">
        Return URL
      </label>
      <input name="partner-return-url" id="partner-return-url" class="monospaced"/>
    </div>
  </details>
</fieldset>
<fieldset id="merchant-specific-options">
  <details open>
    <summary>
      <span>
        <legend>
          Merchant prefill
        </legend>
      </span>
    </summary>
    <div>
      <label for="email">
        Email
      </label>
      <input name="email" id="email" class="monospaced"/>
    </div>
    <div>
      <label for="country-code">
        Country
      </label>
      <select name="country-code" id="country-code">
        {% include 'country-options.html' %}
      </select>
    </div>
    <div>
      <button type="button" id="create-referral" class="half action-post">Create Referral</button>
    </div>
  </details>
</fieldset>
{% endblock %}

{% block right_col %}
<nav id='top-level-nav' role="tabset">
  <input autocomplete="off" type=radio id="input-onboarding" name="nav-tabs" checked/>
  <label for="input-onboarding">Onboarding</label>

  <input autocomplete="off" type=radio id="input-api-calls" name="nav-tabs"/>
  <label for="input-api-calls">API Calls</label>

  <button type="button" id="download-all" class="action postman">Download all for Postman</button>
</nav>
<div id="div-onboarding" class="active">
  <!-- As of 2024-02-21, an error is thrown if the `href` attribute is removed from the initial tag below. -->
  <a
    id="partner-referral"
    data-paypal-button="true"
    href="/"
    target="PPFrame"
    style="display: none;"
  >Begin onboarding</a>
  <script type="module">
    import createReferral from "{{ url_for('static', filename='onboarding.js') }}";
    window.addEventListener('load', async function() {
      const createButton = document.getElementById('create-referral')
      createButton.addEventListener('click', createReferral);
    })
  </script>
</div>
<div id="div-api-calls" class="inactive">
  <nav role="tabset"></nav>
</div>
{% endblock %}