<!DOCTYPE html>
<html lang="en">
  <title>
    Alice - A PPCP Testing Tool
  </title>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='statuses.css') }}"/>
    <script src="{{url_for('static', filename='utils.js')}}"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
      This is the sandbox environment.
      To request features or support, go to <a href="https://paypal.slack.com/archives/C04TWRUMG5Q" class="underline">#help-alice</a>.
    </header>
    <main>
      <div class="col-6">
        <h1 class="title">
          Alice - A PPCP Testing Tool
        </h1>
        <nav>
          <ul>
            <li>
              <a href="{{ url_for('partner_form.onboarding') }}">
                Onboarding
              </a>
            </li>
            <li>
              <a href="{{ url_for('store_form.checkout_branded') }}">
                Checkout - Branded
              </a>
            </li>
            <li>
              <a href="{{ url_for('statuses.statuses') }}">
                Statuses
              </a>
            </li>
          </ul>
        </nav>
        <form>
          <fieldset id="partner-merchant-credentials">
            <legend>
              Partner/merchant info
            </legend>
            <fieldset>
              <!-- Partner ID -->
              <label for="partner-id">
                Partner ID
              </label>
              <span>
                <input name="partner-id" id="partner-id" value="{{ partner_id }}" class="monospaced"/>
                <button type="button" onclick="copyToClipboard('partner-id')">
                  Copy
                </button>
              </span>
              <div class="break"></div>
              <!-- Partner client ID -->
              <label for="partner-client-id">
                Client ID
              </label>
              <span>
                <input name="partner-client-id" id="partner-client-id" value="{{ partner_client_id }}" class="monospaced"></input>
                <button type="button" onclick="copyToClipboard('partner-client-id')">
                  Copy
                </button>
              </span>
              <!-- Merchant ID -->
              <div class="break">
              </div>
              <label for="merchant-id">
                Merchant ID
              </label>
              <span>
                <input name="merchant-id" id="merchant-id" value="{{ merchant_id }}" class="monospaced"></input>
                <button type="button" onclick="copyToClipboard('merchant-id')">
                  Copy
                </button>
              </span>
            </fieldset>
          </fieldset>
          <fieldset id="action-time">
            <legend>
              Action Time
            </legend>
            <fieldset>
              <!-- order ID -->
              <label for="Order-id">
                Order ID
              </label>
              <span>
                <input name="order-id" id="order-id" value="{{ order_id }}" class="monospaced"/>
                <button type="button" onclick="copyToClipboard('order-id')">
                  Copy
                </button>
              </span>
              <div class="break"></div>
            </fieldset>
          </fieldset>
        <form>
      </div>
      <div class="col-6">
        Woof woof, fool.
      </div>
    </main>
  </body>
</html>
