{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='statuses.js') }}"></script>
{% endblock %}


{% block other_options %}
<fieldset id="onboarding">
  <details open>
    <summary>
      <legend>
        Onboarding
      </legend>
    </summary>
    <div>
      <label for="status-tracking-id">
        Tracking ID
      </label>
      <div>
        <input name="status-tracking-id" id="status-tracking-id" class="monospaced"/>
        <button type="button" onclick="getSellerStatusByTrackingId()" class="action">
          Get
        </button>
      </div>
    </div>
    <div>
      <label for="status-merchant-id">
        Merchant ID
      </label>
      <div>
        <input name="status-merchant-id" id="status-merchant-id" class="monospaced"/>
        <button type="button" onclick="getSellerStatus()" class="action">
          Get
        </button>
      </div>
    </div>
    <div>
      <label for="status-referral-token">
        Referral Token
      </label>
      <div>
        <input name="status-referral-token" id="status-referral-token" class="monospaced"/>
        <button type="button" onclick="getReferralStatus()" class="action">
          Get
        </button>
      </div>
    </div>
  </details>
</fieldset>

<fieldset id="checkout">
  <details open>
    <summary>
      <legend>
        Checkout
      </legend>
    </summary>
    <div>
      <label for="include-auth-assertion">
        Auth Assertion
      </label>
      <select name="include-auth-assertion" id="include-auth-assertion" class="monospaced">
        <option value="" selected>Exclude</option>
        <option value="True">Include</option>
      </select>
    </div>
    <div>
      <label for="status-order-id">
        Order ID
      </label>
      <div>
        <input name="status-order-id" id="status-order-id" class="monospaced"/>
        <button type="button" onclick="getOrderStatus()" class="action">
          Get
        </button>
      </div>
    </div>
    <div>
      <label for="status-ba-id">
        BA ID
      </label>
      <div>
        <input name="status-ba-id" id="status-ba-id" class="monospaced"/>
        <button type="button" onclick="getBaStatus()" class="action">
          Get
        </button>
      </div>
    </div>
    <div>
      <label for="status-customer-id">
        Customer ID
      </label>
      <div>
        <input name="status-customer-id" id="status-customer-id" class="monospaced"/>
        <button type="button" onclick="getPaymentTokens()" class="action">
          Get
        </button>
      </div>
    </div>
    <div>
      <label for="status-payment-token-id">
        Vault v3 ID
      </label>
      <input name="status-payment-token-id" id="status-payment-token-id" class="monospaced"/>
      <button type="button" onclick="deletePaymentToken()" class="action action-delete half">
        Delete
      </button>
      <button type="button" onclick="getPaymentTokenStatus()" class="action action-get half">
        Get
      </button>
    </div>
  </details>
</fieldset>
{% endblock %}

{% block right_col %}
<nav id='top-level-nav' role="tabset">
  <ol id="top-level-buttons">
    <li>
      <button id="button-api-calls" type="button" class="active" onclick="selectTab(event)">API Calls</button>
    </li>
  </ol>
</nav>
<div id="tab-api-calls" class="active">
  <nav role="tabset">
    <ol id="api-calls-buttons"></ol>
  </nav>
</div>
{% endblock %}