<!DOCTYPE html>
<html lang="en">
  <title>
    Alice - A PPCP Testing Tool
  </title>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='statuses.css') }}"/>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
      This is the sandbox environment.
      To request features or support, go to <a href="https://paypal.slack.com/archives/C04TWRUMG5Q" class="underline">#help-alice</a>.
    </header>
    <main>
      <div class="col-6">
        I am a dog.
      </div>
      <div class="col-6">
        Woof woof, fool.
      </div>
    </main>
  </body>
</html>
