{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='statuses.js') }}"></script>
{% endblock %}


{% block other_options %}
<fieldset id="onboarding">
  <legend>
    Onboarding
  </legend>
  <fieldset>
    <label for="status-tracking-id">
      Tracking ID
    </label>
    <span>
      <input name="status-tracking-id" id="status-tracking-id" class="monospaced"/>
      <button type="button" onclick="getSellerStatusByTrackingId()" class="action">
        Get
      </button>
    </span>
    <div class="break"></div>
    <label for="status-merchant-id">
      Merchant ID
    </label>
    <span>
      <input name="status-merchant-id" id="status-merchant-id" class="monospaced"/>
      <button type="button" onclick="getSellerStatus()" class="action">
        Get
      </button>
    </span>
    <div class="break"></div>
    <label for="status-referral-token">
      Referral Token
    </label>
    <span>
      <input name="status-referral-token" id="status-referral-token" class="monospaced"/>
      <button type="button" onclick="getReferralStatus()" class="action">
        Get
      </button>
    </span>
  </fieldset>
</fieldset>

<fieldset id="checkout">
  <legend>
    Checkout
  </legend>
  <fieldset>
    <label for="include-auth-assertion">
      Auth Assertion
    </label>
    <select name="include-auth-assertion" id="include-auth-assertion" class="monospaced">
      <option value="" selected>Exclude</option>
      <option value="True">Include</option>
    </select>
    <div class="break"></div>
    <label for="status-order-id">
      Order ID
    </label>
    <span>
      <input name="status-order-id" id="status-order-id" class="monospaced"/>
      <button type="button" onclick="getOrderStatus()" class="action">
        Get
      </button>
    </span>
    <div class="break"></div>
    <label for="status-ba-id">
      BA ID
    </label>
    <span>
      <input name="status-ba-id" id="status-ba-id" class="monospaced"/>
      <button type="button" onclick="getBaStatus()" class="action">
        Get
      </button>
    </span>
    <div class="break"></div>
    <label for="status-vault-id">
      Vault v3 ID
    </label>
    <span>
      <input name="status-vault-id" id="status-vault-id" class="monospaced"/>
      <button type="button" onclick="getVaultStatus()" class="action">
        Get
      </button>
    </span>
    <div class="break"></div>
    <label for="status-customer-id">
      Customer ID
    </label>
    <span>
      <input name="status-customer-id" id="status-customer-id" class="monospaced"/>
      <button type="button" onclick="getVaultTokens()" class="action">
        Get
      </button>
    </span>
  </fieldset>
</fieldset>
{% endblock %}

{% block right_col %}
<nav id='top-level-nav' role="tabset">
  <ol id="top-level-buttons">
    <li>
      <button id="button-api-calls" type="button" class="active" onclick="selectTab(event)">API Calls</button>
    </li>
  </ol>
</nav>
<div id="tab-api-calls" class="active">
  <nav role="tabset">
    <ol id="api-calls-buttons"></ol>
  </nav>
</div>
{% endblock %}