<style>
  td {
    padding: 0 2em;
    font-family: monospace;
    text-align: right;
  }
</style>
<table>
    <thead>
      <tr>
        <th class="c1">ID</th>
        <th class="c1">Amount</th>
        <th class="c1">Initiation Date</th>
        <th class="c1">Updated Date</th>
        <th class="c1">Type</th>
        <th class="c1">Status</th>
        <th class="c1">Refund Link</th>
        <th class="c1">Status Link</th>
      </tr>
    </thead>
    <tbody>
    {% for t in transactions %}
      <tr>
        <td class="c2">{{ t['transaction_id'] }}</td>
        <td class="c2">{{ t['transaction_amount']['value'] }}</td>
        <td class="c2">{{ t['transaction_initiation_date'] }}</td>
        <td class="c2">{{ t['transaction_updated_date'] }}</td>
        <td class="c2">{{ t['type'] }}</td>
        <td class="c2">{{ t['status'] }}</td>
        <td class="c2"><a href="{{ t['refund_link'] }}">Refund</a></td>
        <td class="c2"><a href="{{ t['status_link'] }}">Status</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>