<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://cdn.tailwindcss.com"></script>
		{% block head %}
		{% endblock %}
	</head>
	<body class="bg-slate-50 dark:bg-slate-900">
		<div class="max-w-7xl mx-auto">
			<div class="grid grid-cols-4 gap-2">
				<div class="col-span-1 h-screen bg-white ring-1 ring-slate-900/5 dark:bg-slate-800">
					<div id="left-col" class="mt-2 mx-2"> 
                        {% block left_col %}
						{% endblock %}
					</div>
				</div>
				<div class="col-span-3 h-screen bg-white ring-1 ring-slate-900/5 dark:bg-slate-800">
					<div id="right-col" class="mt-2 mx-2"> 
						{% block right_col %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>