#form-hf-v2-card,
#form-hf-v1-card {
    max-width: 26ch;
    font-size: 1rem;
}
#form-hf-v2-card > label,
#form-hf-v1-card > label {
    display: block;
    width: 100%;
    padding: 1px 2px;
    margin: 5px 0;
}
#form-hf-v1-card > div,
#form-hf-v1-card > input {
    background-color: var(--light-bg-1);
    display: block;
    height: 2rem;
    width: 100%;
    margin: 0.5ch 0;
    padding: 2px 4px;
    border: 1px solid;
    border-radius: 0.25rem;
}
#hf-v2-card-holder-name {
    background-color: var(--white);
    display: block;
    height: 2rem;
    width: calc(100% - 12px);
    margin: 12px 6px;
    padding: 2px 4px;
    border: 1px solid var(--hf-v2-border);
    border-radius: 0.25rem;
}
@media (prefers-color-scheme: dark) {
    #form-hf-v2-card > div,
    #form-hf-v2-card > input {
        background-color: var(--dark-bg-0);
    }
}
#form-hf-v1-card > button,
#form-hf-v2-card > button {
    background-color: var(--green-800);
    color: var(--white);
    margin-top: 12px;
    padding: 4px 8px;
    text-transform: capitalize;
    border-radius: 4px;
    display: block;
}