#mam-onboarding {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

#mam-onboarding > fieldset > legend {
    padding: 0;
}
#mam-onboarding > fieldset {
    flex: 1 1 32%;
    margin: 0;
}
#mam-onboarding div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 6px;
}
#mam-onboarding label {
    font-weight: 400;
    flex: 1 0 45%;
    margin-right: auto;
    white-space: nowrap;
}
#mam-onboarding select,
#mam-onboarding input {
    flex: 1 0 50%;
    min-width: 50%;
}