*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
  --white: rgb(255 255 255);

  --zinc-950: rgb(9 9 11);
  --zinc-900: rgb(24 24 27);
  --zinc-800: rgb(39 39 42);
  --zinc-700: rgb(63 63 70);
  --zinc-600: rgb(82 82 27);
  --zinc-500: rgb(113 113 122);
  --zinc-400: rgb(161 161 170);
  --zinc-300: rgb(212 212 216);
  --zinc-200: rgb(228 228 231);
  --zinc-100: rgb(244 244 245);
  --zinc-50: rgb(250 250 250);

  --blue-600: rgb(37 99 235);
  --blue-400: rgb(96 165 250);

  --light-bg-0: var(--zinc-50);
  --light-bg-1: var(--zinc-100);
  --light-bg-2: var(--zinc-200);
  --light-bg-3: var(--zinc-300);
  --light-bg-4: var(--zinc-400);

  --light-text-0: var(--zinc-950);
  --dark-text-0: var(--zinc-50);

  --dark-bg-0: var(--zinc-900);
  --dark-bg-1: var(--zinc-800);
  --dark-bg-2: var(--zinc-700);
  --dark-bg-3: var(--zinc-600);
  --dark-bg-4: var(--zinc-500);
}


html {
    font-weight: 500;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem;/* 20px */
    margin: 0;
    height: max-content;
    min-height: 100vh;
    background-color: var(--white);
    color: var(--light-text-0);
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-bg-0);
        color: var(--dark-text-0);
    }
}

body > header {
    background-color: var(--blue-600);
    text-align: center;
    color: var(--white);
}
body > header a {
    color: var(--white);
}

.title {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
    text-decoration: underline;
    margin-top: 0;
}


body > main {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 0.5rem;
}

.col-5 {
    grid-column: span 5 / span 5;
}
.col-6 {
    grid-column: span 6 / span 6;
}
.col-7 {
    grid-column: span 7 / span 7;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: 0.5em;
}

nav li:not(:first-child) {
    margin-top: 0.25rem;
}

nav a {
    color: var(--blue-600) !important;
    font-weight: 600;
}

input, button {
    all: unset;
}

fieldset {
    border: 0;
    padding: 0;
}
form > fieldset {
    margin-bottom: 0.5rem;
}
form > fieldset > legend {
    font-weight: 600;
    margin-bottom: 0.25rem;
}
form > fieldset > fieldset {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.25rem 0.5rem;
}
fieldset > label {
    flex: 1 1 10ch;
    margin-right: auto;
    min-width: max-content;
}
fieldset > span {
    flex: 1 1 50%;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5em;
}
fieldset > span > input {
    min-width: 15ch;
    flex: 1 0 auto;
    padding: 0.25ch 0.5ch;
    border-radius: 0.25rem;
    border: solid 1px;
    background-color: var(--light-bg-1);
    border-color: var(--light-bg-3);
}
@media (prefers-color-scheme: dark) {
    fieldset > span > input {
        background-color: var(--dark-bg-2);
        border-color: var(--dark-bg-3);
        color: var(--dark-text-0);
    }
}
fieldset > span > button {
    min-width: max-content;
    flex: none;
}
.action {
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 3px 6px;
    background-color: var(--blue-600);
    color: var(--white);
    text-transform: uppercase;
    font-size: 0.825em;
}
.action:hover {
    color: var(--white);
}
.action:active {
    color: var(--white);
}
.action:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--blue-400);
}

.break {
    flex-basis: 100%;
    height: 0;
}



.monospaced {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

main > div {
    background-color: var(--light-bg-0);
    padding: 8px;
}
@media (prefers-color-scheme: dark) {
    main > div {
        background-color: var(--dark-bg-1);
    }
}

nav > ol {
    padding: 0;
    border-bottom: 1px solid;
    margin: 0 0 0.5rem 0;
    list-style: none;
}
nav > ol > li > button {
    margin-left: 0.5rem;
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
button.inactive {
    background-color: var(--light-bg-0);
}
button.inactive:hover {
    color: var(--zinc-700);
    background-color: var(--light-bg-1);
}
button.active {
    color: var(--zinc-600);
    background-color: var(--light-bg-4);
}
button.active:hover {
    color: var(--zinc-600);
    background-color: var(--light-bg-3);
}
@media (prefers-color-scheme: dark) {
    button.inactive {
        background-color: var(--dark-bg-0);
    }
    button.inactive:hover {
        color: var(--zinc-300);
        background-color: var(--dark-bg-1);
    }
    button.active {
        color: var(--zinc-600);
        background-color: var(--dark-bg-4);
    }
    button.active:hover {
        color: var(--zinc-600);
        background-color: var(--dark-bg-3);
    }
}

.api-response {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: var(--light-bg-1);
}
@media (prefers-color-scheme: dark) {
    .api-response {
        background-color: var(--dark-bg-1);
    }
}