*,
*::before,
*::after {
    box-sizing: border-box;
}

button {
    all: unset;
}

:root {
  --white: rgb(255 255 255);

  --zinc-950: rgb(9 9 11);
  --zinc-900: rgb(24 24 27);
  --zinc-900: rgb(31 31 35);
  --zinc-850: rgb(35 35 39);
  --zinc-800: rgb(39 39 42);
  --zinc-750: rgb(51 51 56);
  --zinc-700: rgb(63 63 70);
  --zinc-600: rgb(82 82 91);
  --zinc-500: rgb(113 113 122);
  --zinc-400: rgb(161 161 170);
  --zinc-300: rgb(212 212 216);
  --zinc-250: rgb(220 220 224);
  --zinc-200: rgb(228 228 231);
  --zinc-150: rgb(236 236 238);
  --zinc-100: rgb(244 244 245);
  --zinc-50: rgb(250 250 250);

  --hf-v2-border: rgb(144 150 151);

  --green-800: rgb(22 101 52);
  --green-600: rgb(34 197 94);
  --green-400: rgb(74 222 128);

  --blue-800: rgb(30 64 175);
  --blue-600: rgb(37 99 235);
  --blue-400: rgb(96 165 250);

  --blue-left: #003087;
  --blue-middle: #001C64;
  --blue-right: #0070E0;
  --blue-v: #008CFF;

  --red-800: rgb(153 27 27);
  --red-600: rgb(220 38 38);
  --red-400: rgb(248 113 113);

  --light-bg-0: var(--zinc-50);
  --light-bg-1: var(--zinc-100);
  --light-bg-2: var(--zinc-150);
  --light-bg-3: var(--zinc-200);
  --light-bg-4: var(--zinc-250);
  --light-bg-5: var(--zinc-300);

  --light-text-0: var(--zinc-950);
  --light-text-1: var(--zinc-900);
  --light-text-2: var(--zinc-850);
  --light-text-3: var(--zinc-800);
  --light-text-4: var(--zinc-750);

  --dark-text-0: var(--zinc-50);
  --dark-text-1: var(--zinc-100);
  --dark-text-2: var(--zinc-150);
  --dark-text-3: var(--zinc-200);
  --dark-text-4: var(--zinc-250);

  --dark-bg-0: var(--zinc-950);
  --dark-bg-1: var(--zinc-900);
  --dark-bg-2: var(--zinc-850);
  --dark-bg-3: var(--zinc-800);
  --dark-bg-4: var(--zinc-750);
  --dark-bg-5: var(--zinc-700);
  /* --dark-bg-6: var(--zinc-650); */
  --dark-bg-7: var(--zinc-600);
}


html {
    font-weight: 500;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem;/* 20px */
    margin: 0;
    height: max-content;
    min-height: 100vh;
    background-color: var(--white);
    color: var(--light-text-1);
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-bg-0);
        color: var(--dark-text-1);
    }
}

body > header {
    background-color: var(--blue-v);
    text-align: center;
    color: var(--white);
}
body > header a {
    color: var(--white) !important;
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.75rem;
    /* text-decoration: underline; */
    margin-top: 0;
}


body > main {
    max-width: 135ch;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 0.5rem;
}

.col-3 {
    grid-column: span 3 / span 3;
}
.col-4 {
    grid-column: span 4 / span 4;
}
.col-5 {
    grid-column: span 5 / span 5;
}
.col-6 {
    grid-column: span 6 / span 6;
}
.col-7 {
    grid-column: span 7 / span 7;
}
.col-8 {
    grid-column: span 8 / span 8;
}
.col-9 {
    grid-column: span 9 / span 9;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: 0.5em;
}

nav li:not(:first-child) {
    margin-top: 0.25rem;
}

a {
    color: var(--blue-600) !important;
    font-weight: 600;
}
@media (prefers-color-scheme: dark) {
    a {
        color: var(--blue-400) !important;
    }
}

form {
    width: 100%;
}
details summary {
    cursor: pointer;
}
details summary > span {
    display: inline-block;
}

details[open] summary {
    margin-bottom: 6px;
}
form legend {
    font-weight: 600;
}

form label {
    font-weight: 500;
    flex: 1 1 9ch;
    margin-right: auto;
    min-width: max-content;
}



form > fieldset {
    margin-bottom: 0.5rem;
}
fieldset {
    width: 100%;
    border: 0;
    padding: 0;
    font-weight: 500;
    margin: 0;
}
fieldset div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px 6px;
}
details > div,
fieldset > div {
    margin: 0 0 6px 8px;
}

div:has(> ul) {
    align-items: flex-start;
}

fieldset div > div,
fieldset div > ul,
fieldset select,
fieldset input {
    flex: 1 1 50%;
    min-width: 35%;
}
fieldset input[type=checkbox] {
    flex: 0 1 1rem;
    min-width: max-content;
    vertical-align: text-bottom;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: auto;
    margin-right: 0.25rem;
}

fieldset div > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
fieldset div ul > li > label {
    vertical-align: top;
    font-weight: 400;
}
li input[type=checkbox] {
    margin: 0.125rem;
}
input[type=checkbox] {
    min-width: 1rem;
    width: 1rem;
    min-height: 1rem;
    height: 1rem;
}



fieldset input,
fieldset select {
    font-size: 0.875rem;
    line-height: 1.25em;
    padding: 2px 4px;
    border-radius: 4px;
    border: solid 1px;
    background-color: var(--light-bg-2);
    border-color: var(--light-bg-4);
    color: var(--light-text-5);
}
@media (prefers-color-scheme: dark) {
    fieldset input,
    fieldset select {
        background-color: var(--dark-bg-5);
        border-color: var(--dark-bg-7);
        color: var(--dark-text-5);
    }
}

#fieldset-checkout-method {
    font-size: 1rem;
    border: 1pt solid;
    border-radius: 4px;
    padding: 8px;
}
#fieldset-checkout-method div {
    margin: 0;
}
#fieldset-checkout-method select {
    flex: 1 0 content;
    min-width: max-content;
    height: 1.5rem;
    font-size: 1rem;
}














button {
    cursor: pointer;
    text-align: center;
}
button.half {
    flex: 1 1 45%;
}
button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

button[class*=action] {
    border-radius: 4px;
    min-width: 5ch;
    padding: 2px 4px;
    text-transform: uppercase;
}
.action-post {
    color: var(--white);
    background-color: var(--green-600);
}
.action-get {
    color: var(--white);
    background-color: var(--blue-600);
}
.action-delete {
    color: var(--white);
    background-color: var(--red-600);
}
.action-post:focus {
    box-shadow: 0 0 0 2px var(--green-800);
}
.action-get:focus {
    box-shadow: 0 0 0 2px var(--blue-800);
}
.action-delete:focus {
    box-shadow: 0 0 0 2px var(--red-800);
}
@media (prefers-color-scheme: dark) {
    .action-post:focus {
        box-shadow: 0 0 0 2px var(--green-400);
    }
    .action-get:focus {
        box-shadow: 0 0 0 2px var(--blue-400);
    }
    .action-delete:focus {
        box-shadow: 0 0 0 2px var(--red-400);
    }
}

.monospaced {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

main > div {
    background-color: var(--light-bg-0);
    padding: 8px;
}
@media (prefers-color-scheme: dark) {
    main > div {
        background-color: var(--dark-bg-1);
    }
}

nav > ol {
    padding: 0;
    border-bottom: 1px solid;
    margin: 0 0 10px;
    list-style: none;
}

.api-response {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: var(--light-bg-1);
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
    .api-response {
        background-color: var(--dark-bg-1);
    }
}

.inactive {
    display: none;
}
.hidden {
    display: none;
}

#paypal-button-container {
    margin: 0 auto;
    max-width: 40rem;
}

.postman {
    background-color: var(--light-bg-2);
    color: black;
    border: 1px solid currentColor;
    float: right;
    margin-left: auto;
    margin-bottom: 4px;
    text-transform: none !important;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
@media (prefers-color-scheme: dark) {
    .postman {
        background-color: var(--dark-bg-2);
        color: white;
    }
}
#input-api-calls:not(:checked) ~ .postman {
    display: none;
}


#div-checkout {
    margin: 12px;
}

nav[role=tabset] {
    gap: 4px;
    width: 100%;
    flex-wrap: wrap;
    border-bottom: 1pt solid;
    margin-bottom: 8px;
    align-items: flex-end;
}

#top-level-nav {
    /* By default, we just hide the top-level-nav. Unless the browser has :has. */
    display: flex;
}
#div-api-calls > nav {
    display: flex;
}

#div-api-calls > nav:empty {
    display: none;
}
nav input {
    display: none;
}
nav input + label {
    background-color: var(--light-bg-2);
    cursor: pointer;
}
nav input:hover + label {
    color: var(--light-text-2);
    background-color: var(--light-bg-3);
}
nav input:checked + label {
    color: var(--blue-600);
    background-color: var(--light-bg-4);
}
nav input:checked:hover + label {
    background-color: var(--light-bg-5);
}
nav label {
    display: inline-block;
    flex: none;
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
    nav input + label {
        background-color: var(--dark-bg-2);
    }
    nav input:hover + label {
        color: var(--dark-text-2);
        background-color: var(--dark-bg-3);
    }
    nav input:checked + label {
        color: var(--blue-400);
        background-color: var(--dark-bg-4);
    }
    nav input:checked:hover + label {
        background-color: var(--dark-bg-5);
    }
}

#div-onboarding a {
    display: block;
    margin-bottom: 8px;
}
#div-onboarding a.proxy {
    pointer-events: none;
    text-decoration: line-through;
}