*,
*::before,
*::after {
    box-sizing: border-box;
}

button {
    all: unset;
}

:root {
  --white: rgb(255 255 255);

  --zinc-950: rgb(9 9 11);
  --zinc-900: rgb(24 24 27);
  --zinc-900: rgb(31 31 35);
  --zinc-850: rgb(35 35 39);
  --zinc-800: rgb(39 39 42);
  --zinc-750: rgb(51 51 56);
  --zinc-700: rgb(63 63 70);
  --zinc-600: rgb(82 82 27);
  --zinc-500: rgb(113 113 122);
  --zinc-400: rgb(161 161 170);
  --zinc-300: rgb(212 212 216);
  --zinc-250: rgb(220 220 224);
  --zinc-200: rgb(228 228 231);
  --zinc-150: rgb(236 236 238);
  --zinc-100: rgb(244 244 245);
  --zinc-50: rgb(250 250 250);

  --hcf-border: rgb(144 150 151);

  --blue-600: rgb(37 99 235);
  --blue-500: rgb(67 132 243);
  --blue-400: rgb(96 165 250);

  --red-600: rgb(220 38 38);

  --light-bg-0: var(--zinc-50);
  --light-bg-1: var(--zinc-100);
  --light-bg-2: var(--zinc-150);
  --light-bg-3: var(--zinc-200);
  --light-bg-4: var(--zinc-250);
  --light-bg-5: var(--zinc-300);

  --light-text-0: var(--zinc-950);
  --light-text-1: var(--zinc-900);
  --light-text-2: var(--zinc-850);
  --light-text-3: var(--zinc-800);
  --light-text-4: var(--zinc-750);

  --dark-text-0: var(--zinc-50);
  --dark-text-1: var(--zinc-100);
  --dark-text-2: var(--zinc-150);
  --dark-text-3: var(--zinc-200);
  --dark-text-4: var(--zinc-250);

  --dark-bg-0: var(--zinc-950);
  --dark-bg-1: var(--zinc-900);
  --dark-bg-2: var(--zinc-850);
  --dark-bg-3: var(--zinc-800);
  --dark-bg-4: var(--zinc-750);
  --dark-bg-5: var(--zinc-700);
  /* --dark-bg-6: var(--zinc-650); */
  --dark-bg-7: var(--zinc-600);
}


html {
    font-weight: 500;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem;/* 20px */
    margin: 0;
    height: max-content;
    min-height: 100vh;
    background-color: var(--white);
    color: var(--light-text-1);
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-bg-0);
        color: var(--dark-text-1);
    }
}

body > header {
    background-color: var(--blue-600);
    text-align: center;
    color: var(--white);
}
body > header a {
    color: var(--white) !important;
}

.title {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
    text-decoration: underline;
    margin-top: 0;
}


body > main {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 0.5rem;
}

.col-3 {
    grid-column: span 3 / span 3;
}
.col-4 {
    grid-column: span 4 / span 4;
}
.col-5 {
    grid-column: span 5 / span 5;
}
.col-6 {
    grid-column: span 6 / span 6;
}
.col-7 {
    grid-column: span 7 / span 7;
}
.col-8 {
    grid-column: span 8 / span 8;
}
.col-9 {
    grid-column: span 9 / span 9;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: 0.5em;
}

nav li:not(:first-child) {
    margin-top: 0.25rem;
}

a {
    color: var(--blue-600) !important;
    font-weight: 600;
}
@media (prefers-color-scheme: dark) {
    a {
        color: var(--blue-500) !important;
    }
}

fieldset {
    border: 0;
    padding: 0;
    font-weight: 550;
}
form > fieldset {
    margin-bottom: 0.5rem;
}
form > fieldset > legend {
    font-weight: 600;
    margin-bottom: 0.5rem;
}
form > fieldset > fieldset {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.25rem 0.5rem;
}
fieldset > label {
    font-weight: 450;
    flex: 1 1 9ch;
    margin-right: auto;
    min-width: max-content;
}
fieldset > select {
    flex: 1 1 50%;
}
fieldset > span {
    flex: 1 1 50%;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.25em;
}
fieldset input {
    flex: 1 1 50%;
}

fieldset > select {
    height: calc(1.25em + 0.25rem + 2px);
    /*
    The line-height property doesn't work for select elements,
    so instead we set the height manually, adding the line height
    we want (1.25em), the vertical padding we want (0.125rem twice),
    and the border (1px twice).
    */
}

fieldset input,
fieldset > select {
    font-size: 0.875rem;
    line-height: 1.25em;
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
    border: solid 1px;
    background-color: var(--light-bg-2);
    border-color: var(--light-bg-4);
    color: var(--light-text-5);
}
@media (prefers-color-scheme: dark) {
    fieldset input,
    fieldset > select {
        background-color: var(--dark-bg-5);
        border-color: var(--dark-bg-7);
        color: var(--dark-text-5);
    }
}
fieldset > span > button {
    min-width: max-content;
    flex: none;
}
fieldset > button {
    flex: 1 0 100%;
    text-align: center;
    background-color: var(--blue-600);
    border-radius: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: var(--white);
}
button {
    cursor: pointer;
    text-align: center;
}
button.half {
    flex: 1 1 48%;
}
button.half {
    flex: 1 1 48%;
}
button:disabled {
    background-color: grey;
    cursor: not-allowed;
}
.action {
    border-radius: 0.25rem;
    min-width: 5ch;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: var(--blue-600);
    color: var(--white);
    text-transform: uppercase;
    font-size: 0.825em;
}
.action:hover {
    color: var(--white);
}
.action:active {
    color: var(--white);
}
.action:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--blue-400);
}

.action-get {
    background-color: var(--blue-600);
}
.action-delete {
    background-color: var(--red-600);
}

.break {
    flex-basis: 100%;
    height: 0;
}

fieldset > ul {
    flex-basis: 100%;
    margin: 0 0.5rem 0 0;
    padding: 0 0.5rem 0 0;
    list-style-type: none;
}
fieldset > ul > li > label {
    font-weight: 450;
    vertical-align: baseline;
}
input[type=checkbox] {
    min-width: 1rem;
    width: 1rem;
    min-height: 1rem;
    height: 1rem;
}

.monospaced {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

main > div {
    background-color: var(--light-bg-0);
    padding: 8px;
}
@media (prefers-color-scheme: dark) {
    main > div {
        background-color: var(--dark-bg-1);
    }
}

nav > ol {
    padding: 0;
    border-bottom: 1px solid;
    margin: 0 0 10px;
    list-style: none;
}
nav > ol > li > button {
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
button.inactive {
    background-color: var(--light-bg-1);
}
button.inactive:hover {
    color: var(--light-text-2);
    background-color: var(--light-bg-2);
}
button.active {
    color: var(--blue-600);
    background-color: var(--light-bg-3);
}
button.active:hover {
    background-color: var(--light-bg-4);
}
@media (prefers-color-scheme: dark) {
    button.inactive {
        background-color: var(--dark-bg-1);
    }
    button.inactive:hover {
        color: var(--dark-text-2);
        background-color: var(--dark-bg-2);
    }
    button.active {
        background-color: var(--dark-bg-3);
    }
    button.active:hover {
        background-color: var(--dark-bg-4);
    }
}

.api-response {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: var(--light-bg-1);
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
    .api-response {
        background-color: var(--dark-bg-1);
    }
}

#top-level-buttons,
#api-calls-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}
#top-level-buttons li,
#api-calls-buttons li {
    margin: 0 5px 0 0;
}

div.inactive {
    display: none;
}

.hidden {
    display: none;
}

#paypal-button-container {
    margin: 0 auto;
    max-width: 40rem;
}

#form-hf-card,
#form-cf-card {
    max-width: 20ch;
    font-size: 1rem;
}
#form-hf-card > label,
#form-cf-card > label {
    display: block;
    width: 100%;
    padding: 1px 2px;
    margin: 5px 0;
}
#form-hf-card > div,
#form-hf-card > input {
    background-color: var(--light-bg-1);
    display: block;
    height: 2rem;
    width: 100%;
    margin: 0.5ch 0;
    padding: 2px 4px;
    border: 1px solid;
    border-radius: 0.25rem;
}
#cf-card-holder-name {
    background-color: var(--white);
    display: block;
    height: 2rem;
    width: calc(100% - 12px);
    margin: 12px 6px;
    padding: 2px 4px;
    border: 1px solid var(--hcf-border);
    border-radius: 0.25rem;
}
@media (prefers-color-scheme: dark) {
    #form-hf-card > div,
    #form-hf-card > input {
        background-color: var(--dark-bg-0);
    }
}
#form-cf-card > button,
#form-hf-card > button {
    background-color: green;
    color: white;
    margin: 12px 6px;
    padding: 4px 8px;
    text-transform: capitalize;
    border-radius: 4px;
    display: block;
}

#card-number,
#expiration-date,
#cvv {
    background-color: var(--light-bg-1);
    color: var(--light-text-1);
    display: block;
    height: 1.2rem;
    width: 100%;
    margin: 2.5px 0;
    padding: 2px 4px;
    border: 1px solid;
    border-radius: 0.25rem;
}
@media (prefers-color-scheme: dark) {
    #form-hosted-fields > input,
    #card-number,
    #expiration-date,
    #cvv {
        background-color: var(--dark-bg-1);
        color: var(--dark-text-1);
    }
}