*,
*::before,
*::after {
    box-sizing: border-box;
}

button {
    all: unset;
}

:root {
  --white: rgb(255 255 255);

  --zinc-950: rgb(9 9 11);
  --zinc-900: rgb(24 24 27);
  --zinc-900: rgb(31 31 35);
  --zinc-850: rgb(35 35 39);
  --zinc-800: rgb(39 39 42);
  --zinc-750: rgb(51 51 56);
  --zinc-700: rgb(63 63 70);
  --zinc-600: rgb(82 82 91);
  --zinc-500: rgb(113 113 122);
  --zinc-400: rgb(161 161 170);
  --zinc-300: rgb(212 212 216);
  --zinc-250: rgb(220 220 224);
  --zinc-200: rgb(228 228 231);
  --zinc-150: rgb(236 236 238);
  --zinc-100: rgb(244 244 245);
  --zinc-50: rgb(250 250 250);

  --hf-v2-border: rgb(144 150 151);

  --green-800: rgb(22 101 52);
  --green-600: rgb(34 197 94);
  --green-400: rgb(74 222 128);

  --blue-800: rgb(30 64 175);
  --blue-600: rgb(37 99 235);
  --blue-400: rgb(96 165 250);

  --blue-left: #003087;
  --blue-middle: #001C64;
  --blue-right: #0070E0;
  --blue-v: #008CFF;

  --red-800: rgb(153 27 27);
  --red-600: rgb(220 38 38);
  --red-400: rgb(248 113 113);

  --light-bg-0: var(--zinc-50);
  --light-bg-1: var(--zinc-100);
  --light-bg-2: var(--zinc-150);
  --light-bg-3: var(--zinc-200);
  --light-bg-4: var(--zinc-250);
  --light-bg-5: var(--zinc-300);

  --light-text-0: var(--zinc-950);
  --light-text-1: var(--zinc-900);
  --light-text-2: var(--zinc-850);
  --light-text-3: var(--zinc-800);
  --light-text-4: var(--zinc-750);

  --dark-text-0: var(--zinc-50);
  --dark-text-1: var(--zinc-100);
  --dark-text-2: var(--zinc-150);
  --dark-text-3: var(--zinc-200);
  --dark-text-4: var(--zinc-250);

  --dark-bg-0: var(--zinc-950);
  --dark-bg-1: var(--zinc-900);
  --dark-bg-2: var(--zinc-850);
  --dark-bg-3: var(--zinc-800);
  --dark-bg-4: var(--zinc-750);
  --dark-bg-5: var(--zinc-700);
  /* --dark-bg-6: var(--zinc-650); */
  --dark-bg-7: var(--zinc-600);
}


html {
    font-weight: 500;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem;/* 20px */
    margin: 0;
    height: max-content;
    min-height: 100vh;
    background-color: var(--white);
    color: var(--light-text-1);
    @media (prefers-color-scheme: dark) {
        background-color: var(--dark-bg-0);
        color: var(--dark-text-1);
    }

    & > header {
        text-align: center;

        background-color: var(--blue-v);
        color: var(--white);

        a {
            color: var(--white) !important;
        }
    }

    & > main {
        max-width: 135ch;
        height: 100%;
        min-height: 100vh;
        margin-inline: auto;

        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 0.5rem;

        & > div {
            padding: 8px;
            background-color: var(--light-bg-0);
            @media (prefers-color-scheme: dark) {
                background-color: var(--dark-bg-1);
            }
        }
        .col-1 {
            grid-column: span 1 / span 1;
        }
        .col-2 {
            grid-column: span 2 / span 2;
        }

    }
}


h1 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.75rem;
    margin-top: 0;
}

nav {
    ul {
        list-style-type: none;
        padding: 0;
        margin-left: 0.5em;
    }

    li:not(:first-child) {
        margin-top: 0.25rem;
    }

    & > ol {
        padding: 0;
        border-bottom: 1px solid;
        margin: 0 0 10px;
        list-style: none;
    }

    input {
        & + label {
            cursor: pointer;
            background-color: var(--light-bg-2);
            @media (prefers-color-scheme: dark) {
                background-color: var(--dark-bg-2);
        }
        }

        &:hover + label {
            color: var(--light-text-2);
            background-color: var(--light-bg-3);
            @media (prefers-color-scheme: dark) {
                color: var(--dark-text-2);
                background-color: var(--dark-bg-3);
            }
        }
        &:checked + label {
            color: var(--blue-600);
            background-color: var(--light-bg-4);
            @media (prefers-color-scheme: dark) {
                color: var(--blue-400);
                background-color: var(--dark-bg-4);
            }
        }
        &:checked:hover + label {
            background-color: var(--light-bg-5);
            @media (prefers-color-scheme: dark) {
                background-color: var(--dark-bg-5);
            }
        }
    }
}

a {
    font-weight: 600;
    color: var(--blue-600) !important;
    @media (prefers-color-scheme: dark) {
        color: var(--blue-400) !important;
    }
}

details {
    summary {
        cursor: pointer;
        & > span {
            display: inline-block;
        }
        & > button {
            float: right;
            font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        }
    }
    &[open] summary {
        margin-bottom: 10px;
    }
    &:not([open]) button {
        display: none;
    }
}

details > div,
fieldset > div {
    margin: 0 0 6px 8px;
}


form {
    width: 100%;

    legend {
        font-weight: 600;
    }

    label {
        font-weight: 500;
        flex: 1 1 9ch;
        margin-right: auto;
        min-width: max-content;
    }

    & > fieldset {
        margin-bottom: 0.5rem;
    }

    div {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 4px 6px;

        &:has(> ul) {
            align-items: flex-start;
        }
    }
}

fieldset {
    width: 100%;
    border: 0;
    padding: 0;
    font-weight: 500;
    margin: 0;

    div > div,
    div > ul,
    select,
    input {
        flex: 1 1 50%;
        min-width: 35%;
    }

    div {
        & > ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            & > li > label {
                vertical-align: top;
                font-weight: 400;
            }
        }
    }

    input,
    select {
        font-size: 0.875rem;
        font-size: 0.875rem;
        line-height: 1.25em;
        padding: 2px 4px;
        border-radius: 4px;
        border: solid 1px;
        background-color: var(--light-bg-2);
        border-color: var(--light-bg-4);
        color: var(--light-text-5);

        @media (prefers-color-scheme: dark) {
            background-color: var(--dark-bg-5);
            border-color: var(--dark-bg-7);
            color: var(--dark-text-5);
        }
    }

    input {
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }

    &#fieldset-checkout-method {
        font-size: 1rem;
        border: 1pt solid;
        border-radius: 4px;
        padding: 8px;
        div {
            margin: 0;
        }
        select {
            flex: 1 0 content;
            min-width: max-content;
            height: 1.5rem;
            font-size: 1rem;
        }
    }
}

input[type=checkbox] {
    min-width: 1rem;
    width: 1rem;
    min-height: 1rem;
    height: 1rem;
    li > & {
        margin: 0.125rem;
    }
    fieldset & {
        flex: 0 1 1rem;
        min-width: max-content;
        vertical-align: text-bottom;
    }
}

button {
    cursor: pointer;
    text-align: center;
    &.half {
        flex: 1 1 45%;
    }
    &:disabled {
        background-color: grey;
        cursor: not-allowed;
    }

    &[data-method] {
        color: var(--white);
        border-radius: 4px;
        min-width: 5ch;
        padding: 2px 4px;
        text-transform: lowercase;
        font-variant: small-caps;
    }
    &[data-method=''] {
        color: var(--light-text-5);
        background-color: var(--light-bg-2);
        border-color: var(--light-bg-4);
        @media (prefers-color-scheme: dark) {
            color: var(--dark-text-5);
            background-color: var(--dark-bg-5);
            border-color: var(--dark-bg-7);
        }
    }
    &[data-method=get] {
        background-color: var(--blue-600);
        &:focus {
            box-shadow: 0 0 0 2px var(--blue-800);
            @media (prefers-color-scheme: dark) {
                box-shadow: 0 0 0 2px var(--blue-400);
            }
        }
    }
    &[data-method=post] {
        background-color: var(--green-600);
        &:focus {
            box-shadow: 0 0 0 2px var(--green-800);
            @media (prefers-color-scheme: dark) {
                box-shadow: 0 0 0 2px var(--green-400);
            }
        }
    }

    &[data-method=delete] {
        background-color: var(--red-600);
        &:focus {
            box-shadow: 0 0 0 2px var(--red-800);
            @media (prefers-color-scheme: dark) {
                box-shadow: 0 0 0 2px var(--red-400);
            }
        }
    }

    &.postman {
        border: 1px solid currentColor;
        float: right;
        margin-left: auto;
        margin-bottom: 4px;
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        font-variant: inherit !important;
        text-transform: inherit !important;

        background-color: var(--light-bg-2);
        color: black;
        @media (prefers-color-scheme: dark) {
            background-color: var(--dark-bg-2);
            color: white;
        }

        #tab-api-calls:not([aria-selected=true]) ~ & {
            display: none;
        }
    }
}

[role='tablist'] {
    display: flex;
    margin-bottom: 12px;
    border-bottom: 1px solid;

    gap: 4px;
    width: 100%;
    flex-wrap: wrap;
    border-bottom: 1pt solid;
    margin-bottom: 8px;
    align-items: flex-end;


    &:not(:has(*)) {
        display: none;
    }
}

[role='tab'] {
    display: inline-block;
    flex: none;
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    background-color: var(--light-bg-2);
    @media (prefers-color-scheme: dark) {
        background-color: var(--dark-bg-2);
    }

    &:hover {
        color: var(--light-text-2);
        background-color: var(--light-bg-3);
        @media (prefers-color-scheme: dark) {
            color: var(--dark-text-2);
            background-color: var(--dark-bg-3);
        }
    }

	&[aria-selected='true'] {
		color: var(--blue-600);
        background-color: var(--light-bg-4);
        @media (prefers-color-scheme: dark) {
            color: var(--blue-400);
            background-color: var(--dark-bg-4);
        }

        &:hover {
            background-color: var(--light-bg-5);
            @media (prefers-color-scheme: dark) {
                background-color: var(--dark-bg-5);
            }
        }
	}
}

[role='tabpanel'] {
    &[data-page=checkout] {
        margin: 12px;
        #paypal-button-container {
            margin: 0 auto;
            max-width: 40rem;
        }
    }
    &[data-page=onboarding] {
        a {
            display: block;
            margin-bottom: 8px;
            &.proxy {
                pointer-events: none;
                text-decoration: line-through;
            }
        }
    }
    .api-response {
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        background-color: var(--light-bg-1);
        @media (prefers-color-scheme: dark) {
            background-color: var(--dark-bg-1);
        }
    }
}

#hf-v2-form,
#hf-v1-form {
    max-width: 26ch;
    font-size: 1rem;

    label {
        display: block;
        width: 100%;
        padding: 1px 2px;
        margin: 5px 0;
    }

    #pay-button {
        background-color: var(--green-800);
        color: var(--white);
        margin-top: 12px;
        padding: 4px 8px;
        text-transform: capitalize;
        border-radius: 4px;
        display: block;
    }
}

#hf-v1-form {
    & > div,
    input {
        display: block;
        height: 2rem;
        width: 100%;
        margin: 0.5ch 0;
        padding: 2px 4px;
        border: 1px solid;
        border-radius: 0.25rem;
    }
    & > div {
        background-color: var(--light-bg-1);
    }
    input {
        color: var(--white);
        background-color: var(--light-bg-1);
        @media (prefers-color-scheme: dark) {
            color: var(--white);
            background-color: var(--dark-bg-0);
        }
    }
}

#hf-v2-form {
    input {
        display: block;
        height: 2rem;
        width: calc(100% - 12px);
        margin: 12px 6px;
        padding: 2px 4px;
        border: 1px solid var(--hf-v2-border);
        border-radius: 0.25rem;

        color: black;
        background-color: var(--white);
        &[id^='hf-v2-billing-address'] {
            margin: 6px;
        }
    }
    div,
    input {
        @media (prefers-color-scheme: dark) {
            color: var(--white);
            background-color: var(--dark-bg-0);
        }
    }
}

#vault-options > details > div + div {
    display: none;
}

#vault-options:has(option[value='first-time-buyer']:checked) .first-time-buyer,
#vault-options:has(option[value='buyer-not-present']:checked) .buyer-not-present,
#vault-options:has(option[value='return-buyer']:checked) .return-buyer {
    display: flex;
}