#vault-options > details > div + div {
    display: none;
}

#vault-options:has(option[value='first-time-buyer']:checked) .first-time-buyer,
#vault-options:has(option[value='buyer-not-present']:checked) .buyer-not-present,
#vault-options:has(option[value='return-buyer']:checked) .return-buyer {
    display: flex;
}

@-moz-document url-prefix() {
    /* Firefox doesn't currently (2023-06-29) support the above :has CSS pseudo-class,
    so this is a workaround just for Firefox. */
    #vault-options > details > div + div {
        display: flex;
    }
}